Repository morganstanley/testplan: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-fmt, uv-export

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: ruff-fmt
    name: ruff format
    language: system
    entry: ruff format --check
    types: [python]
  - id: uv-export
    name: uv export
    language: system
    entry: uv export
    args: ["--no-editable", "--no-emit-project", "--no-hashes", "--all-groups", "--all-extras", "-o", "constraints.txt"]
    pass_filenames: false
    files: ^(pyproject\.toml|constraints\.txt)$

Add timing for MultiTest Environment Start/Stop
  testplan/testing/base.py
Due: ruff-fmt

Fix Timer.first method
  testplan/common/utils/timing.py
Due: ruff-fmt

Upgrade Node and pnpm in Github Actions
  .github/actions/build-package/action.yml
  .github/workflows/test_pr.yml
  testplan/web_ui/testing/package.json
  testplan/web_ui/testing/pnpm-lock.yaml
Due: none

Update GitHub Actions to use latest versions
  .github/actions/build-package/action.yml
  .github/actions/create-release/action.yml
  .github/actions/files-changed/action.yml
  .github/actions/pip-cache/action.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/cut_version.yml
  .github/workflows/package.yml
  .github/workflows/scorecards.yml
  .github/workflows/test_pr.yml
Due: none

Enhancing UI test status filter
  doc/newsfragments/3601_changed.enhancing_ui_test_status_filter.rst
  testplan/web_ui/testing/src/AssertionPane/AssertionGroup.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/MatchAllBaseAssertion.js
  testplan/web_ui/testing/src/Common/defaults.js
  testplan/web_ui/testing/src/Common/filterStates.js
  testplan/web_ui/testing/src/Nav/navUtils.js
  testplan/web_ui/testing/src/Report/BatchReport.js
  testplan/web_ui/testing/src/Toolbar/Toolbar.js
Due: none

Update test snapshots
  testplan/web_ui/testing/src/Nav/__tests__/__snapshots__/NavList.test.js.snap
  testplan/web_ui/testing/src/Report/__tests__/__snapshots__/BatchReport.test.js.snap
Due: none

update test to use new format
  testplan/web_ui/testing/src/Nav/__tests__/navUtils.test.js
Due: none

Clear up pidfile after testplan finish and fix flaky tests due to runpath collision
  testplan/runnable/base.py
  tests/unit/testplan/runnable/interactive/test_irunner.py
  tests/unit/testplan/runnable/test_base.py
  tests/unit/testplan/test_plan_base.py
Due: ruff-fmt

Add MultiTest and TestSuite timing to JUnit XML report
  testplan/exporters/testing/xml/__init__.py
Due: ruff-fmt

Add news fragments
  doc/newsfragments/3593_new.xml_timing.rst
  doc/newsfragments/3598_new.env_start_stop_timing.rst
Due: none

Clear up pidfile after testplan finish and fix flaky tests due to runpath collision (#1298)
  testplan/runnable/base.py
  tests/unit/testplan/runnable/interactive/test_irunner.py
  tests/unit/testplan/runnable/test_base.py
  tests/unit/testplan/test_plan_base.py
Due: ruff-fmt

Refactor HTML report timing, use last timer interval entry for consistency
  testplan/web_ui/testing/src/Common/utils.js
Due: none

Group filter statuses
  testplan/web_ui/testing/src/Common/defaults.js
  testplan/web_ui/testing/src/Report/__tests__/__snapshots__/BatchReport.test.js.snap
  testplan/web_ui/testing/src/Toolbar/Toolbar.js
  testplan/web_ui/testing/src/Toolbar/navStyles.js
Due: none

Add tests
  tests/functional/testplan/exporters/testing/test_xml.py
  tests/unit/testplan/common/utils/test_timing.py
Due: ruff-fmt

Skip indented sublist for single-status groups and reorder statuses alphabetically
  testplan/web_ui/testing/src/Common/defaults.js
  testplan/web_ui/testing/src/Report/__tests__/__snapshots__/BatchReport.test.js.snap
  testplan/web_ui/testing/src/Toolbar/Toolbar.js
Due: none

Handle timers without end recorded
  testplan/exporters/testing/xml/__init__.py
  testplan/web_ui/testing/src/Common/utils.js
Due: ruff-fmt

Add tests for calcElapsedTime and calcExecutionTime
  testplan/web_ui/testing/src/Common/__tests__/utils.test.js
Due: none

Change order to most concerning to least from user point of view
  testplan/web_ui/testing/src/Common/defaults.js
Due: none

update test snapshot
  testplan/web_ui/testing/src/Report/__tests__/__snapshots__/BatchReport.test.js.snap
Due: none

Add MultiTest Environment start/stop timing and timing to JUnit XML exporter (#1299)
  doc/newsfragments/3593_new.xml_timing.rst
  doc/newsfragments/3598_new.env_start_stop_timing.rst
  testplan/common/utils/timing.py
  testplan/exporters/testing/xml/__init__.py
  testplan/testing/base.py
  testplan/web_ui/testing/src/Common/__tests__/utils.test.js
  testplan/web_ui/testing/src/Common/utils.js
  tests/functional/testplan/exporters/testing/test_xml.py
  tests/unit/testplan/common/utils/test_timing.py
Due: ruff-fmt

Test status filter (#1297)
  doc/newsfragments/3601_changed.enhancing_ui_test_status_filter.rst
  testplan/web_ui/testing/src/AssertionPane/AssertionGroup.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/MatchAllBaseAssertion.js
  testplan/web_ui/testing/src/Common/defaults.js
  testplan/web_ui/testing/src/Common/filterStates.js
  testplan/web_ui/testing/src/Nav/__tests__/__snapshots__/NavList.test.js.snap
  testplan/web_ui/testing/src/Nav/__tests__/navUtils.test.js
  testplan/web_ui/testing/src/Nav/navUtils.js
  testplan/web_ui/testing/src/Report/BatchReport.js
  testplan/web_ui/testing/src/Report/__tests__/__snapshots__/BatchReport.test.js.snap
  testplan/web_ui/testing/src/Toolbar/Toolbar.js
  testplan/web_ui/testing/src/Toolbar/navStyles.js
Due: none

Address review feedback: replace asserts with runtime guards, revert selector.py and RowData rename
  pyproject.toml
  testplan/base.py
  testplan/common/remote/ssh_client.py
  testplan/common/utils/comparison.py
  testplan/common/utils/context.py
  testplan/common/utils/helper.py
  testplan/common/utils/logfile.py
  testplan/common/utils/match.py
  testplan/common/utils/selector.py
  testplan/common/utils/sockets/client.py
  testplan/common/utils/sockets/fix/server.py
  testplan/common/utils/watcher.py
  testplan/exporters/testing/json/base.py
  testplan/exporters/testing/pdf/renderers/reports.py
  testplan/monitor/resource.py
  testplan/runnable/base.py
  testplan/runnable/interactive/base.py
  testplan/runners/pools/base.py
  testplan/runners/pools/child.py
  testplan/runners/pools/connection.py
  testplan/runners/pools/process.py
  testplan/runners/pools/remote.py
  testplan/runners/pools/tasks/base.py
  testplan/testing/bdd/step_registry.py
  testplan/testing/multitest/base.py
  testplan/testing/multitest/driver/app.py
  testplan/testing/multitest/driver/fix/client.py
  testplan/testing/multitest/driver/fix/server.py
  testplan/testing/multitest/driver/http/server.py
  testplan/testing/multitest/driver/sqlite.py
  testplan/testing/multitest/driver/tcp/client.py
  testplan/testing/multitest/driver/tcp/server.py
  testplan/testing/multitest/driver/zmq/client.py
  testplan/testing/multitest/driver/zmq/server.py
  testplan/testing/multitest/driver/zookeeper.py
  testplan/testing/multitest/logging.py
  testplan/testing/py_test.py
  testplan/testing/result.py
Due: ruff-fmt, uv-export

Fix ruff format lint failures on runtime guard error messages
  testplan/base.py
  testplan/common/utils/logfile.py
  testplan/common/utils/match.py
  testplan/runnable/base.py
  testplan/runners/pools/tasks/base.py
Due: ruff-fmt

Fix mypy errors: RowData partial type annotations, selector.py, and observability
  constraints.txt
  testplan/common/utils/observability/loki_exporter.py
  testplan/common/utils/observability/tracing.py
  testplan/common/utils/selector.py
  testplan/exporters/testing/pdf/renderers/reports.py
  testplan/testing/base.py
Due: ruff-fmt, uv-export

Fix opentelemetry type: ignore version mismatch between local and CI
  pyproject.toml
  testplan/common/utils/observability/tracing.py
Due: ruff-fmt, uv-export

add when param to xfail decorator
  constraints.txt
  testplan/common/report/base.py
  testplan/common/utils/observability/tracing.py
  testplan/report/testing/base.py
  testplan/runnable/base.py
  testplan/testing/base.py
  testplan/testing/multitest/base.py
  testplan/testing/multitest/suite.py
  testplan/web_ui/web_app.py
  tests/functional/testplan/testing/multitest/test_xfail.py
Due: ruff-fmt, uv-export

update typing
  testplan/cli/commands/writers.py
  testplan/common/serialization/fields.py
  testplan/common/utils/match.py
  testplan/exporters/testing/json/base.py
  testplan/exporters/testing/pdf/__init__.py
  testplan/runnable/base.py
  testplan/testing/result.py
Due: ruff-fmt

Mock scrollIntoView in jsdom test environment to fix flaky test
  testplan/web_ui/testing/src/setupTests.js
Due: none

update typing
  testplan/cli/commands/writers.py
  testplan/common/serialization/fields.py
  testplan/common/utils/match.py
  testplan/common/utils/observability/tracing.py
  testplan/exporters/testing/json/base.py
  testplan/exporters/testing/pdf/__init__.py
  testplan/runnable/base.py
  testplan/testing/result.py
  testplan/web_ui/web_app.py
  tests/functional/testplan/testing/multitest/test_parametrization.py
Due: ruff-fmt

add when param to xfail decorator
  constraints.txt
  testplan/common/report/base.py
  testplan/report/testing/base.py
  testplan/runnable/base.py
  testplan/testing/base.py
  testplan/testing/multitest/base.py
  testplan/testing/multitest/suite.py
  tests/functional/testplan/testing/multitest/test_xfail.py
Due: ruff-fmt, uv-export

adjust impl; add newsfrag; update docs
  doc/en/introduction.rst
  doc/en/multitest.rst
  doc/newsfragments/3584_new.xfail_when.rst
  testplan/common/report/base.py
  testplan/parser.py
  testplan/report/testing/base.py
  testplan/testing/base.py
  tests/functional/testplan/testing/multitest/test_xfail.py
Due: ruff-fmt

Fix flaky test_scheduling_2 on Windows by increasing timing margin (#1295)
  tests/unit/testplan/testing/environment/test_base.py
Due: ruff-fmt

Upgrade Github Actions and Node (#1296)
  .github/actions/build-package/action.yml
  .github/actions/create-release/action.yml
  .github/actions/files-changed/action.yml
  .github/actions/pip-cache/action.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/cut_version.yml
  .github/workflows/package.yml
  .github/workflows/scorecards.yml
  .github/workflows/test_pr.yml
  testplan/web_ui/testing/package.json
  testplan/web_ui/testing/pnpm-lock.yaml
Due: none

rename when to condition, logs to error, assertions to failed; fix xpass behaviour
  doc/en/introduction.rst
  doc/en/multitest.rst
  doc/newsfragments/3584_new.xfail_condition.rst
  doc/newsfragments/3584_new.xfail_when.rst
  testplan/common/report/base.py
  testplan/parser.py
  testplan/report/testing/base.py
  testplan/runnable/base.py
  testplan/testing/base.py
  testplan/testing/multitest/base.py
  testplan/testing/multitest/suite.py
  tests/functional/testplan/testing/multitest/test_xfail.py
Due: ruff-fmt

update newsfrag
  doc/newsfragments/3584_new.xfail_condition.rst
Due: none

Require Node 22+
  testplan/web_ui/testing/package.json
Due: none

Require Node 22+ (#1302)
  testplan/web_ui/testing/package.json
Due: none

Fix scroll bug
  testplan/web_ui/testing/src/AssertionPane/ResourcePanel.js
  testplan/web_ui/testing/src/Nav/TreeView.js
Due: none
