Repository morganstanley/testplan: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-fmt, uv-export

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: ruff-fmt
    name: ruff format
    language: system
    entry: ruff format --check
    types: [python]
  - id: uv-export
    name: uv export
    language: system
    entry: uv export
    args: ["--no-editable", "--no-emit-project", "--no-hashes", "--all-groups", "--all-extras", "-o", "constraints.txt"]
    pass_filenames: false
    files: ^(pyproject\.toml|constraints\.txt)$

add utility function to get root span
  testplan/base.py
  testplan/common/utils/observability/tracing.py
  tests/unit/testplan/common/utils/observability/test_tracing.py
Due: ruff-fmt

Add test_ids for other test classes
  testplan/testing/base.py
Due: ruff-fmt

remove level, add test_id to span attributes, update docs
  doc/en/observability.rst
  testplan/testing/base.py
  testplan/testing/multitest/base.py
  testplan/testing/py_test.py
  testplan/testing/pyunit.py
Due: ruff-fmt

fix tests
  testplan/runners/pools/base.py
  testplan/runners/pools/process.py
  testplan/runners/pools/remote.py
  tests/functional/testplan/common/utils/observability/test_tracing.py
Due: ruff-fmt

fix docs and update observability example skip case
  examples/Observability/test_plan.py
  testplan/common/utils/observability/tracing.py
  tests/functional/examples/test_examples.py
Due: ruff-fmt

Add Plan flag, remove unused logger
  testplan/base.py
  testplan/parser.py
  testplan/runnable/base.py
  testplan/runners/pools/child.py
  testplan/testing/base.py
  testplan/testing/multitest/base.py
  testplan/testing/py_test.py
  testplan/testing/pyunit.py
  tests/functional/testplan/common/utils/observability/test_tracing.py
Due: ruff-fmt

add importorskip to not run tracing tests when otel packages are not installed, update tests
  constraints.txt
  testplan/common/utils/observability/tracing.py
  tests/conftest.py
  tests/functional/testplan/common/utils/observability/__init__.py
  tests/functional/testplan/common/utils/observability/test_tracing.py
Due: ruff-fmt, uv-export

automatically transfer the otel_ env vars to remote workers
  doc/en/observability.rst
  testplan/common/remote/remote_resource.py
  tests/unit/testplan/common/remote/test_remote_resource.py
Due: ruff-fmt

shutdown tracing in forked processs to avoid grpc issues
  examples/ExecutionPools/Process/tasks.py
  examples/ExecutionPools/Process/test_plan.py
  testplan/common/utils/observability/tracing.py
  testplan/monitor/resource.py
  testplan/runners/pools/child.py
  tests/functional/testplan/test_resource_monitor.py
Due: ruff-fmt

make docs more concise, fix example's exit code
  doc/en/observability.rst
  examples/Observability/test_plan.py
Due: ruff-fmt

fix typo, add force_flush before resourcemonitor client/server start to prevent grpc issues
  testplan/monitor/resource.py
  testplan/testing/base.py
  tests/functional/testplan/test_resource_monitor.py
Due: ruff-fmt

shift set_span_as_failed after xfail func call
  testplan/testing/multitest/base.py
Due: ruff-fmt

Add stricter criteria for passing traceparent to child.py
  testplan/runners/pools/process.py
  testplan/runners/pools/remote.py
Due: ruff-fmt

use logger.user_info instead of print
  testplan/common/utils/observability/tracing.py
  tests/functional/testplan/common/utils/observability/test_tracing.py
  tests/unit/testplan/common/utils/observability/test_tracing.py
Due: ruff-fmt

fix issue where running observabilityexample overrides the root_context and Comment out span failure case in example so its now shown in dashboard
  examples/Observability/test_plan.py
  testplan/common/utils/observability/tracing.py
  tests/conftest.py
Due: ruff-fmt

shift to enum for otel_traces, update docs
  doc/en/observability.rst
  examples/Observability/test_plan.py
  testplan/base.py
  testplan/common/utils/observability/__init__.py
  testplan/common/utils/observability/trace_level.py
  testplan/defaults.py
  testplan/parser.py
  testplan/runnable/base.py
  testplan/testing/base.py
  testplan/testing/multitest/base.py
  testplan/testing/py_test.py
  testplan/testing/pyunit.py
  tests/functional/testplan/common/utils/observability/test_tracing.py
Due: ruff-fmt

add roottraceidgenerator to allow for dummy spanid
  doc/en/observability.rst
  testplan/common/utils/observability/__init__.py
  testplan/common/utils/observability/tracing.py
  tests/conftest.py
  tests/functional/testplan/common/utils/observability/test_tracing.py
  tests/unit/testplan/common/utils/observability/test_tracing.py
Due: ruff-fmt

add force_flush before fork to prevent grpc issues, add plan level
  testplan/base.py
  testplan/monitor/resource.py
  testplan/parser.py
  testplan/runnable/base.py
  testplan/testing/base.py
  testplan/testing/multitest/base.py
  testplan/testing/py_test.py
  testplan/testing/pyunit.py
  tests/functional/testplan/common/utils/observability/test_tracing.py
Due: ruff-fmt

Add otel tracing
  constraints.txt
  doc/en/api/testplan.common.utils.observability.rst
  doc/en/api/testplan.common.utils.rst
  doc/en/download/Observability.rst
  doc/en/download/index.rst
  doc/en/index.rst
  doc/en/observability.rst
  doc/newsfragments/3387_new.add_observability.rst
  examples/ExecutionPools/Process/tasks.py
  examples/ExecutionPools/Process/test_plan.py
  examples/Observability/test_plan.py
  pyproject.toml
  testplan/base.py
  testplan/common/utils/observability/__init__.py
  testplan/common/utils/observability/tracing.py
  testplan/parser.py
  testplan/runnable/base.py
  testplan/runners/pools/base.py
  testplan/runners/pools/child.py
  testplan/runners/pools/process.py
  testplan/runners/pools/remote.py
  testplan/testing/base.py
  testplan/testing/multitest/base.py
  testplan/testing/py_test.py
  testplan/testing/pyunit.py
  tests/conftest.py
  tests/functional/examples/test_examples.py
  tests/functional/testplan/common/utils/observability/__init__.py
  tests/functional/testplan/common/utils/observability/test_tracing.py
  tests/unit/testplan/common/utils/observability/__init__.py
  tests/unit/testplan/common/utils/observability/test_tracing.py
Due: ruff-fmt, uv-export

add roottraceidgenerator to allow for dummy spanid
  doc/en/observability.rst
  doc/newsfragments/3387_new.add_observability.rst
  examples/ExecutionPools/Process/tasks.py
  examples/ExecutionPools/Process/test_plan.py
  examples/Observability/test_plan.py
  testplan/common/utils/observability/__init__.py
  testplan/common/utils/observability/tracing.py
  tests/conftest.py
  tests/unit/testplan/common/utils/observability/test_tracing.py
Due: ruff-fmt

shift set_span_as_failed after xfail func call, shift to enum for otel_traces
  doc/en/observability.rst
  examples/Observability/test_plan.py
  testplan/base.py
  testplan/common/utils/observability/__init__.py
  testplan/common/utils/observability/trace_level.py
  testplan/common/utils/observability/tracing.py
  testplan/defaults.py
  testplan/parser.py
  testplan/runnable/base.py
  testplan/runners/pools/base.py
  testplan/testing/base.py
  testplan/testing/multitest/base.py
  testplan/testing/py_test.py
  testplan/testing/pyunit.py
  tests/functional/examples/test_examples.py
  tests/functional/testplan/common/utils/observability/test_tracing.py
  tests/unit/testplan/common/utils/observability/test_tracing.py
Due: ruff-fmt

add otel logging support
  doc/en/api/testplan.common.utils.observability.rst
  doc/en/observability.rst
  doc/newsfragments/3466_new.add_otel_logging.rst
  examples/Observability/test_plan.py
  testplan/base.py
  testplan/common/utils/observability/__init__.py
  testplan/common/utils/observability/logging.py
  testplan/common/utils/observability/loki_exporter.py
  testplan/common/utils/observability/tracing.py
  testplan/parser.py
  testplan/runnable/base.py
  testplan/runners/pools/base.py
  testplan/runners/pools/child.py
  testplan/runners/pools/process.py
  testplan/runners/pools/remote.py
  testplan/testing/base.py
  tests/conftest.py
  tests/functional/testplan/common/utils/observability/test_logging.py
  tests/unit/testplan/common/utils/observability/test_logging.py
Due: ruff-fmt

pin opentelemetry package version
  pyproject.toml
  testplan/common/utils/observability/__init__.py
  testplan/common/utils/observability/logging.py
  testplan/common/utils/observability/loki_exporter.py
  testplan/monitor/resource.py
  tests/conftest.py
  tests/functional/testplan/common/utils/observability/test_logging.py
  tests/functional/testplan/testing/multitest/test_bad_app.py
  tests/functional/testplan/testing/multitest/test_parametrization.py
  tests/functional/testplan/testing/multitest/test_suite_decorators.py
Due: ruff-fmt, uv-export

fix step argument render following (prev) gherkin upgrade
  constraints.txt
  examples/BDD/scenario_outline/scenario_outline.feature
  examples/BDD/scenario_outline/scenario_outline.steps.py
  testplan/runnable/base.py
  testplan/testing/bdd/gherkin.py
Due: ruff-fmt, uv-export

fix issue with FailedTestsExporter for testplan timeout
  doc/newsfragments/3494_changed.fix_failedtestexporter_for_task_errors.rst
  testplan/exporters/testing/failed_tests/__init__.py
  testplan/runners/pools/base.py
  tests/functional/testplan/exporters/testing/test_failed_tests.py
Due: ruff-fmt

fix format_duration hour formatting
  testplan/common/utils/timing.py
Due: ruff-fmt

Add FailedTestsExporter api docs
  doc/en/api/testplan.exporters.testing.failed_tests.rst
  doc/en/api/testplan.exporters.testing.rst
Due: none

Fix failed tests exporter for unmaterialized tests (#1266)
  doc/en/api/testplan.exporters.testing.failed_tests.rst
  doc/en/api/testplan.exporters.testing.rst
  doc/newsfragments/3494_changed.fix_failedtestexporter_for_task_errors.rst
  testplan/common/utils/timing.py
  testplan/exporters/testing/failed_tests/__init__.py
  testplan/runners/pools/base.py
  tests/functional/testplan/exporters/testing/test_failed_tests.py
Due: ruff-fmt

Kafka driver add cluster support.
  testplan/testing/multitest/driver/kafka.py
Due: ruff-fmt

Wait for filepath to exist with longer timeout to account for slower processes
  tests/functional/testplan/exporters/testing/test_failed_tests.py
Due: ruff-fmt

Fix bug in interactive mode where filtered runs cause test runtime_status to be stuck at waiting
  doc/newsfragments/3495_changed.fix_interactive_mode_tests_stuck_at_waiting.rst
  testplan/common/report/base.py
  tests/functional/testplan/runnable/interactive/test_api.py
Due: ruff-fmt

add newsfrag
  doc/newsfragments/3439_changed.fix_bdd_argument_render.rst
Due: none

Check remote connections to determine no concurrent process before using runpath (#1257)
  testplan/runnable/base.py
  tests/unit/testplan/runnable/test_base.py
Due: ruff-fmt

Fix bug in interactive mode where filtered runs cause test runtime_status to be stuck at waiting
  doc/newsfragments/3495_changed.fix_interactive_mode_tests_stuck_at_waiting.rst
  testplan/web_ui/testing/src/Report/InteractiveReport.js
  testplan/web_ui/testing/src/Report/__tests__/InteractiveReport.test.js
Due: none

Fix bug in interactive mode where filtered runs cause test runtime_status to be stuck at waiting (#1270)
  doc/newsfragments/3495_changed.fix_interactive_mode_tests_stuck_at_waiting.rst
  testplan/web_ui/testing/src/Report/InteractiveReport.js
  testplan/web_ui/testing/src/Report/__tests__/InteractiveReport.test.js
Due: none

Allow wait() predicate to return truthy values instead of strictly True
  testplan/common/utils/timing.py
  tests/unit/testplan/common/utils/test_timing.py
Due: ruff-fmt

Fix/step argument render following (prev) gherkin upgrade (#1267)
  constraints.txt
  doc/newsfragments/3439_changed.fix_bdd_argument_render.rst
  examples/BDD/scenario_outline/scenario_outline.feature
  examples/BDD/scenario_outline/scenario_outline.steps.py
  testplan/runnable/base.py
  testplan/testing/bdd/gherkin.py
Due: ruff-fmt, uv-export

Add edgecase check for multitest autopart
  doc/newsfragments/3497_changed.add_edgecase_check_for_autopart.rst
  testplan/runnable/base.py
  tests/functional/testplan/runners/pools/discover_tasks/sub_auto_parts_zero_testcase_tasks.py
  tests/functional/testplan/runners/pools/test_auto_part.py
Due: ruff-fmt
