Repository morganstanley/testplan: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-fmt, uv-export

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: ruff-fmt
    name: ruff format
    language: system
    entry: ruff format --check
    types: [python]
  - id: uv-export
    name: uv export
    language: system
    entry: uv export
    args: ["--no-editable", "--no-emit-project", "--no-hashes", "--all-groups", "--all-extras", "-o", "constraints.txt"]
    pass_filenames: false
    files: ^(pyproject\.toml|constraints\.txt)$

add newsfrag
  doc/newsfragments/3113_changed.improve_skip_remaining.rst
Due: none

add --archive-runpath cmdline arg
  testplan/base.py
  testplan/parser.py
Due: ruff-fmt

Fix/make pool discard running tasks simultaneously (#1254)
  doc/newsfragments/3113_changed.improve_skip_remaining.rst
  testplan/base.py
  testplan/parser.py
  testplan/runners/pools/base.py
  testplan/runners/pools/child.py
  testplan/runners/pools/process.py
  tests/functional/testplan/testing/multitest/test_skip_remaining.py
  tests/unit/testplan/common/utils/test_helper.py
Due: ruff-fmt

Check remote connections to determine no concurrent process before using runpath.
  testplan/runnable/base.py
  tests/unit/testplan/runnable/test_base.py
Due: ruff-fmt

Fix format error
  tests/unit/testplan/runnable/test_base.py
Due: ruff-fmt

add --archive-runpath cmdline arg
  constraints.txt
  doc/en/introduction.rst
  doc/newsfragments/3080_new.archive_runpath.rst
  pyproject.toml
  testplan/base.py
  testplan/parser.py
  testplan/runnable/base.py
  tests/functional/testplan/test_archive_runpath.py
Due: ruff-fmt, uv-export

add --archive-runpath cmdline arg (#1256)
  constraints.txt
  doc/en/introduction.rst
  doc/newsfragments/3080_new.archive_runpath.rst
  pyproject.toml
  testplan/base.py
  testplan/parser.py
  testplan/runnable/base.py
  tests/functional/testplan/test_archive_runpath.py
Due: ruff-fmt, uv-export

Add otel tracing
  doc/en/api/testplan.common.utils.rst
  doc/en/download/Observability.rst
  doc/en/download/index.rst
  doc/en/index.rst
  doc/en/observability.rst
  doc/newsfragments/3387_new.add_observability.rst
  examples/ExecutionPools/Process/tasks.py
  examples/ExecutionPools/Process/test_plan.py
  examples/Observability/test_plan.py
  pyproject.toml
  testplan/base.py
  testplan/common/utils/observability.py
  testplan/parser.py
  testplan/runnable/base.py
  testplan/runners/pools/child.py
  testplan/runners/pools/process.py
  testplan/runners/pools/remote.py
  testplan/testing/base.py
  testplan/testing/multitest/base.py
  testplan/testing/py_test.py
  testplan/testing/pyunit.py
  tests/conftest.py
  tests/functional/examples/test_examples.py
  tests/functional/testplan/common/utils/test_observability.py
  tests/unit/testplan/common/utils/test_tracing.py
Due: ruff-fmt, uv-export

Refactor observability into module
  testplan/common/utils/observability/__init__.py
  testplan/common/utils/observability/tracing.py
  tests/functional/testplan/common/utils/observability/test_tracing.py
  tests/unit/testplan/common/utils/observability/__init__.py
  tests/unit/testplan/common/utils/observability/test_tracing.py
Due: ruff-fmt

Add conditional span method
  examples/ExecutionPools/Process/tasks.py
  testplan/base.py
  testplan/common/utils/observability.py
  testplan/testing/base.py
  testplan/testing/multitest/base.py
  testplan/testing/py_test.py
  testplan/testing/pyunit.py
  tests/functional/testplan/common/utils/test_observability.py
  tests/unit/testplan/common/utils/test_tracing.py
Due: ruff-fmt

add importorskip to not run tracing tests when otel packages are not installed
  tests/conftest.py
  tests/functional/testplan/common/utils/observability/__init__.py
Due: ruff-fmt

Update docs
  doc/en/api/testplan.common.utils.observability.rst
  doc/en/api/testplan.common.utils.rst
Due: none

update criteria
  testplan/testing/base.py
Due: ruff-fmt

update constraints.txt
  constraints.txt
Due: uv-export

update pylint
  testplan/common/utils/observability/tracing.py
  tests/conftest.py
Due: ruff-fmt

update fixtures
  tests/conftest.py
Due: ruff-fmt

update to use Optional instead of | for python 3.9
  tests/functional/testplan/common/utils/observability/test_tracing.py
Due: ruff-fmt

fix proc worker test
  testplan/runners/pools/base.py
  testplan/runners/pools/process.py
  testplan/runners/pools/remote.py
Due: ruff-fmt

fix failing test
  tests/functional/testplan/common/utils/observability/test_tracing.py
Due: ruff-fmt

Add stricter criteria for passing traceparent to child.py
  testplan/runners/pools/process.py
  testplan/runners/pools/remote.py
Due: ruff-fmt

remove level, add test_id to span attributes, update docs
  doc/en/observability.rst
  testplan/testing/base.py
  testplan/testing/multitest/base.py
  testplan/testing/py_test.py
  testplan/testing/pyunit.py
Due: ruff-fmt

add roottraceidgenerator to allow for dummy spanid
  doc/en/observability.rst
  testplan/common/utils/observability/__init__.py
  testplan/common/utils/observability/tracing.py
  tests/conftest.py
  tests/functional/testplan/common/utils/observability/test_tracing.py
  tests/unit/testplan/common/utils/observability/test_tracing.py
Due: ruff-fmt

shutdown tracing in forked processs to avoid grpc issues
  testplan/common/utils/observability/tracing.py
  testplan/monitor/resource.py
  testplan/runners/pools/child.py
Due: ruff-fmt

remove unused imports and vars
  examples/ExecutionPools/Process/tasks.py
  examples/ExecutionPools/Process/test_plan.py
  testplan/common/utils/observability/tracing.py
Due: ruff-fmt

Fix the issue where interactive mode was not auto-refreshing.
  doc/newsfragments/3404_changed.ineractive.rst
  testplan/web_ui/testing/src/Report/InteractiveReport.js
  testplan/web_ui/testing/src/Report/__tests__/__snapshots__/InteractiveReport.test.js.snap
  testplan/web_ui/testing/src/Report/reportUtils.js
Due: none

Increase timeout for test resource monitor to reduce flakiness due to tracing.shutdown
  testplan/common/utils/observability/tracing.py
  tests/functional/testplan/test_resource_monitor.py
Due: ruff-fmt

fix typos in doc
  doc/en/observability.rst
Due: none

Update Kafka version.
  testplan/testing/multitest/driver/kafka.py
  tests/unit/testplan/testing/multitest/driver/mykafka/server_template.properties
  tests/unit/testplan/testing/multitest/driver/mykafka/test_kafka.py
Due: ruff-fmt

Validate connection info
  testplan/runnable/base.py
Due: ruff-fmt

skip archive runpath test on windows
  testplan/web_ui/testing/src/Nav/navUtils.js
  tests/functional/testplan/test_archive_runpath.py
Due: ruff-fmt

skip archive runpath test on windows (#1261)
  testplan/web_ui/testing/src/Nav/navUtils.js
  tests/functional/testplan/test_archive_runpath.py
Due: ruff-fmt

unique testplan name (thus runpath) in test
  examples/App/Autostart/test_plan.py
  examples/Assertions/Marking/test_plan_non_linear.py
  examples/BDD/arguments/test_plan.py
  examples/BDD/background/test_plan.py
  examples/BDD/common_steps/test_plan.py
  examples/BDD/context_resolution/test_plan.py
  examples/BDD/import_steps/test_plan.py
  examples/BDD/known_to_fail/test_plan.py
  examples/BDD/labels/test_plan.py
  examples/BDD/parallel_execution/test_plan.py
  examples/BDD/parsers/test_plan.py
  examples/BDD/scenario_outline/test_plan.py
  examples/BDD/special_scenarios/test_plan.py
  examples/BDD/tcp/test_plan.py
  examples/Multitest/Listing/Custom Listers/test_plan_command_line.py
  tests/functional/testplan/exporters/testing/dummy_cli_arg_test_plan.py
  tests/functional/testplan/exporters/testing/dummy_programmatic_test_plan.py
  tests/unit/testplan/test_plan_base.py
Due: ruff-fmt

unique testplan name (thus runpath) in test (#1262)
  examples/App/Autostart/test_plan.py
  examples/Assertions/Marking/test_plan_non_linear.py
  examples/BDD/arguments/test_plan.py
  examples/BDD/background/test_plan.py
  examples/BDD/common_steps/test_plan.py
  examples/BDD/context_resolution/test_plan.py
  examples/BDD/import_steps/test_plan.py
  examples/BDD/known_to_fail/test_plan.py
  examples/BDD/labels/test_plan.py
  examples/BDD/parallel_execution/test_plan.py
  examples/BDD/parsers/test_plan.py
  examples/BDD/scenario_outline/test_plan.py
  examples/BDD/special_scenarios/test_plan.py
  examples/BDD/tcp/test_plan.py
  examples/Multitest/Listing/Custom Listers/test_plan_command_line.py
  tests/functional/testplan/exporters/testing/dummy_cli_arg_test_plan.py
  tests/functional/testplan/exporters/testing/dummy_programmatic_test_plan.py
  tests/unit/testplan/test_plan_base.py
Due: ruff-fmt

shift set_span_as_failed after xfail func call
  testplan/testing/multitest/base.py
Due: ruff-fmt

shift to enum for otel_traces, update docs
  doc/en/observability.rst
  examples/Observability/test_plan.py
  testplan/base.py
  testplan/common/utils/observability/__init__.py
  testplan/common/utils/observability/trace_level.py
  testplan/defaults.py
  testplan/parser.py
  testplan/runnable/base.py
  testplan/testing/base.py
  testplan/testing/multitest/base.py
  testplan/testing/py_test.py
  testplan/testing/pyunit.py
  tests/functional/testplan/common/utils/observability/test_tracing.py
Due: ruff-fmt
