Repository morganstanley/testplan: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-fmt, uv-export

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: ruff-fmt
    name: ruff format
    language: system
    entry: ruff format --check
    types: [python]
  - id: uv-export
    name: uv export
    language: system
    entry: uv export
    args: ["--no-editable", "--no-emit-project", "--no-hashes", "--all-groups", "--all-extras", "-o", "constraints.txt"]
    pass_filenames: false
    files: ^(pyproject\.toml|constraints\.txt)$

Feature/adjust estimated multitest exec time based on testcase count (#1210)
  doc/en/introduction.rst
  doc/en/pools.rst
  doc/newsfragments/3294_changed.testcase_count_adjusted_runtime.rst
  examples/ExecutionPools/AutoPart/runtime_data.txt
  testplan/base.py
  testplan/common/entity/base.py
  testplan/common/utils/logger.py
  testplan/parser.py
  testplan/runnable/base.py
  testplan/runnable/interactive/reloader.py
  testplan/testing/multitest/base.py
  tests/functional/testplan/runners/pools/test_auto_part.py
Due: ruff-fmt

first take
  constraints.txt
  pyproject.toml
  testplan/common/remote/remote_resource.py
  testplan/common/remote/remote_runtime.py
  testplan/common/remote/remote_service.py
  testplan/common/utils/process.py
  testplan/common/utils/remote.py
  testplan/runners/pools/remote.py
Due: ruff-fmt, uv-export

Add more details in the exception of setting parent attribute.
  testplan/common/config/base.py
Due: ruff-fmt

Misc/remove releaseherald copy under testplan repo (#1213)
  constraints.txt
  releaseherald/.gitignore
  releaseherald/docs/.pages
  releaseherald/docs/command_line.md
  releaseherald/docs/configuration.md
  releaseherald/docs/index.md
  releaseherald/docs/plugins/.pages
  releaseherald/docs/plugins/basics.md
  releaseherald/docs/plugins/dataclasses.md
  releaseherald/docs/plugins/examples.md
  releaseherald/docs/plugins/helpers.md
  releaseherald/docs/plugins/hooks.md
  releaseherald/docs/plugins/stock.md
  releaseherald/docs/version_template.md
  releaseherald/example_plugin/pyproject.toml
  releaseherald/example_plugin/releaseherald_demo_plugin/__init__.py
  releaseherald/example_plugin/releaseherald_demo_plugin/plugin.py
  releaseherald/example_plugin/setup.cfg
  releaseherald/mkdocs.yml
  releaseherald/mypy.ini
  releaseherald/pyproject.toml
  releaseherald/releaseherald/__init__.py
  releaseherald/releaseherald/configuration.py
  releaseherald/releaseherald/main.py
  releaseherald/releaseherald/plugins/__init__.py
  releaseherald/releaseherald/plugins/base.py
  releaseherald/releaseherald/plugins/hookspecs.py
  releaseherald/releaseherald/plugins/interface.py
  releaseherald/releaseherald/plugins/latest_filter.py
  releaseherald/releaseherald/plugins/manager.py
  releaseherald/releaseherald/plugins/metadata_extractor.py
  releaseherald/releaseherald/plugins/plugin_config.py
  releaseherald/releaseherald/plugins/submodules.py
  releaseherald/releaseherald/templates/__init__.py
  releaseherald/releaseherald/templates/news.rst
  releaseherald/requirements.txt
  releaseherald/setup.cfg
Due: ruff-fmt, uv-export

fix readthedocs job
  requirements-rtd.txt
Due: none

Misc/fix readthedocs job (#1216)
  requirements-rtd.txt
Due: none

Add paramiko ssh_client to RemoteResouce
  doc/newsfragments/3334_changed.paramiko_ssh_client.rst
  testplan/common/remote/remote_resource.py
  testplan/common/remote/ssh_client.py
  testplan/common/utils/logfile.py
  testplan/common/utils/match.py
  tests/unit/testplan/common/remote/test_remote_resource.py
Due: ruff-fmt

fix readthedocs job; update news template
  doc/news_template.rst
  requirements-rtd.txt
  requirements.txt
Due: none

Misc/fix readthedocs job; update news template (#1218)
  doc/news_template.rst
  requirements-rtd.txt
  requirements.txt
Due: none

fix github actions
  .github/workflows/cut_version.yml
  .github/workflows/test_pr.yml
Due: none

Misc/fix github actions (#1220)
  .github/workflows/cut_version.yml
  .github/workflows/test_pr.yml
Due: none

bump version 25.3.0 -> 25.8.0
  pyproject.toml
  testplan/version.py
Due: ruff-fmt, uv-export

update package publish job
  .github/workflows/cut_version.yml
Due: none

Misc/update package publish job; manual bumpver (#1221)
  .github/workflows/cut_version.yml
  pyproject.toml
  testplan/version.py
Due: ruff-fmt, uv-export

add debug info to ci
  .github/workflows/cut_version.yml
  pyproject.toml
Due: uv-export

Misc/add debug info to ci (#1222)
  .github/workflows/cut_version.yml
  pyproject.toml
Due: uv-export

fix typo
  .github/workflows/cut_version.yml
Due: none

Misc/fix typo in github ci (#1223)
  .github/workflows/cut_version.yml
Due: none

fix check-tag condition
  .github/workflows/cut_version.yml
Due: none

Misc/fix check-tag condition in ci (#1224)
  .github/workflows/cut_version.yml
Due: none

Add FailedTestsExporter
  doc/en/download/Test Output.rst
  doc/en/introduction.rst
  doc/en/output_exporters.rst
  examples/Test Output/Exporters/Failed Tests/test_plan.py
  testplan/base.py
  testplan/defaults.py
  testplan/exporters/testing/__init__.py
  testplan/exporters/testing/failed_tests/__init__.py
  testplan/parser.py
  testplan/runnable/base.py
  tests/functional/testplan/exporters/testing/test_failed_tests.py
Due: ruff-fmt

Add FailedTestsExporter
  doc/en/download/Test Output.rst
  doc/en/introduction.rst
  doc/en/output_exporters.rst
  doc/newsfragments/3255_new.failed_tests_exporter.rst
  examples/Test Output/Exporters/Failed Tests/test_plan.py
  testplan/base.py
  testplan/defaults.py
  testplan/exporters/testing/__init__.py
  testplan/exporters/testing/failed_tests/__init__.py
  testplan/parser.py
  testplan/runnable/base.py
  testplan/testing/multitest/base.py
  tests/functional/testplan/exporters/testing/test_failed_tests.py
Due: ruff-fmt

adding search anchors to testplan.log
  testplan/testing/multitest/base.py
Due: ruff-fmt

address review comments
  testplan/common/remote/remote_resource.py
  testplan/common/remote/ssh_client.py
Due: ruff-fmt

Add paramiko ssh_client to RemoteResouce (#1217)
  doc/newsfragments/3334_changed.paramiko_ssh_client.rst
  testplan/common/remote/remote_resource.py
  testplan/common/remote/ssh_client.py
  testplan/common/utils/logfile.py
  testplan/common/utils/match.py
  tests/unit/testplan/common/remote/test_remote_resource.py
Due: ruff-fmt

Add sparse mode for parameterized testcases
  doc/newsfragments/3350_new.sparse.rst
  testplan/testing/multitest/parametrization.py
  testplan/testing/multitest/suite.py
  tests/functional/testplan/testing/multitest/test_parametrization.py
Due: ruff-fmt

Enable unbuffered I/O for subprocess
  testplan/common/utils/process.py
Due: ruff-fmt

fix match formatting
  testplan/common/utils/comparison.py
Due: ruff-fmt

handle ignored comparisons on catch-all correctly
  testplan/common/utils/comparison.py
Due: ruff-fmt

fix flattened comparison object for correct other vs. iterable comparison
  testplan/common/utils/convert.py
Due: ruff-fmt

modify location and format of search anchors
  testplan/testing/multitest/base.py
Due: ruff-fmt

added news frag
  doc/newsfragments/3285_new.search_friendly_anchors.rst
Due: none

Add news fragment
  doc/newsfragments/3361_changed.unbuffered_subprocess_io.rst
Due: none

Enable unbuffered I/O for subprocess (#1227)
  doc/newsfragments/3361_changed.unbuffered_subprocess_io.rst
  testplan/common/utils/process.py
Due: ruff-fmt

Add sparse mode for parameterized testcases (#1226)
  doc/newsfragments/3350_new.sparse.rst
  testplan/testing/multitest/parametrization.py
  testplan/testing/multitest/suite.py
  tests/functional/testplan/testing/multitest/test_parametrization.py
Due: ruff-fmt

revert flattened comparison change
  testplan/common/utils/convert.py
Due: ruff-fmt

render half empty lines on the UI correctly
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/dictAssertionUtils.js
Due: none

add dict vs. iterable comparison for simplified render on UI
  testplan/common/utils/comparison.py
Due: ruff-fmt
