Repository morganstanley/testplan: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-fmt, uv-export

ruff-fmt:
  name: ruff format
  language: system
  entry: ruff format --check

uv-export:
  name: uv export
  language: system
  entry: uv export
  args:
  - --no-editable
  - --no-emit-project
  - --no-hashes
  - --all-groups
  - --all-extras
  - -o
  - constraints.txt
  pass_filenames: false

add news frag
  doc/newsfragments/3286_changed.fix_ui_dict_ignored_keys.rst
Due: none

update snapshot test
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/__snapshots__/FixMatchAssertion.test.js.snap
Due: none

Render DictMatch ignored keys and different types correctly in the HTML report (#1228)
  doc/newsfragments/3286_changed.fix_ui_dict_ignored_keys.rst
  testplan/common/utils/comparison.py
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/__snapshots__/FixMatchAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/dictAssertionUtils.js
Due: ruff-fmt

Early exit testplan if no test is scheduled
  doc/newsfragments/3348_new.early_stop.rst
  testplan/runnable/base.py
  tests/functional/testplan/report/testing/test_empty.py
Due: ruff-fmt

first take rebased
  constraints.txt
  pyproject.toml
  testplan/common/remote/remote_resource.py
  testplan/common/remote/remote_runtime.py
  testplan/common/remote/remote_service.py
  testplan/common/remote/ssh_client.py
  testplan/common/utils/process.py
  testplan/common/utils/remote.py
  testplan/runners/pools/remote.py
Due: ruff-fmt, uv-export

original changes from PR#1225
  doc/newsfragments/3285_new.search_friendly_anchors.rst
  testplan/testing/multitest/base.py
Due: ruff-fmt

fix MultiTest hook indentation
  testplan/testing/base.py
Due: ruff-fmt

second take
  constraints.txt
  testplan/common/remote/remote_resource.py
  testplan/common/remote/remote_runtime.py
  testplan/common/remote/ssh_client.py
  testplan/common/utils/json.py
  testplan/common/utils/process.py
  testplan/runners/pools/base.py
  testplan/runners/pools/process.py
  testplan/runners/pools/remote.py
Due: ruff-fmt, uv-export

update orjson opt; add logging around test_sorter
  doc/newsfragments/3377_changed.orjson_opt.rst
  examples/Multitest/Ordering/Custom Sorters/test_plan.py
  testplan/common/utils/json.py
  testplan/testing/multitest/base.py
  testplan/testing/ordering.py
  tests/functional/testplan/testing/test_ordering.py
Due: ruff-fmt

refactor since orjson made compulsory
  testplan/common/utils/json.py
Due: ruff-fmt

suppress sorter logging when lister presents
  testplan/testing/multitest/base.py
Due: ruff-fmt

update passing check inside helper mod
  doc/newsfragments/3378_changed.helper_enhance_passed_check.rst
  testplan/common/utils/helper.py
  tests/unit/testplan/common/utils/test_helper.py
Due: ruff-fmt

refactor testsuite, testcase and pre/post hook logging
  testplan/common/utils/logger.py
  testplan/testing/base.py
  testplan/testing/multitest/base.py
Due: ruff-fmt

Fix early stop testplan exit code issue.
  doc/newsfragments/3348_changed.exit_code.rst
  testplan/runnable/base.py
  tests/functional/testplan/report/testing/test_empty.py
Due: ruff-fmt

fix test
  tests/unit/testplan/common/utils/test_helper.py
Due: ruff-fmt

make logs more visible
  testplan/testing/base.py
  testplan/testing/multitest/base.py
Due: ruff-fmt

Fix navigation to update selection in interactive mode, when clicking the run icon
  doc/newsfragments/3232_changed.navigation_fix.rst
  testplan/web_ui/testing/src/Report/InteractiveReport.js
Due: none

add another newsfrag
  doc/newsfragments/3377_changed.typed_sorter_user_info.rst
Due: none

newsfrag to do
  doc/en/introduction.rst
  testplan/common/report/base.py
  testplan/parser.py
  testplan/report/filter.py
  testplan/report/testing/__init__.py
  testplan/report/testing/parser.py
  testplan/runnable/base.py
  tests/functional/testplan/report/testing/test_filter.py
Due: ruff-fmt

change cli args; add newsfrag
  doc/en/introduction.rst
  doc/newsfragments/3393_changed.report_filter_cli_arg.rst
  testplan/parser.py
  testplan/report/filter.py
  testplan/report/testing/__init__.py
  testplan/report/testing/parser.py
  testplan/runnable/base.py
  tests/functional/testplan/report/testing/test_filter.py
Due: ruff-fmt

update newsfrag
  doc/newsfragments/3393_changed.report_filter_cli_arg.rst
Due: none

Feature!/allow preserve testcase entries when applying report filter (#1235)
  doc/en/introduction.rst
  doc/newsfragments/3393_changed.report_filter_cli_arg.rst
  testplan/common/report/base.py
  testplan/parser.py
  testplan/report/filter.py
  testplan/report/testing/parser.py
  testplan/runnable/base.py
  tests/functional/testplan/report/testing/test_filter.py
Due: ruff-fmt

Feature/several minor changes (#1231)
  doc/newsfragments/3377_changed.orjson_opt.rst
  doc/newsfragments/3377_changed.typed_sorter_user_info.rst
  doc/newsfragments/3378_changed.helper_enhance_passed_check.rst
  examples/Multitest/Ordering/Custom Sorters/test_plan.py
  testplan/common/utils/helper.py
  testplan/common/utils/json.py
  testplan/testing/multitest/base.py
  testplan/testing/ordering.py
  tests/functional/testplan/testing/test_ordering.py
  tests/unit/testplan/common/utils/test_helper.py
Due: ruff-fmt

add tests
  tests/functional/testplan/cli/data/sample_plan.py
  tests/functional/testplan/cli/data/sample_plan_expected_stdout_0.data
  tests/functional/testplan/cli/data/sample_plan_expected_stdout_1.data
  tests/functional/testplan/cli/test_stdout.py
Due: ruff-fmt

Print search-friendly anchor in testplan log for test/suite/case start/stop (#1232)
  doc/newsfragments/3285_new.search_friendly_anchors.rst
  testplan/common/utils/logger.py
  testplan/testing/base.py
  testplan/testing/multitest/base.py
  tests/functional/testplan/cli/data/sample_plan.py
  tests/functional/testplan/cli/data/sample_plan_expected_stdout_0.data
  tests/functional/testplan/cli/data/sample_plan_expected_stdout_1.data
  tests/functional/testplan/cli/test_stdout.py
Due: ruff-fmt

make report filter preserve synthesized entries
  doc/newsfragments/3393_changed.report_filter_keep_synthesized.rst
  testplan/common/report/base.py
  tests/functional/testplan/report/testing/test_filter.py
Due: ruff-fmt

Fix/make report filter preserve synthesized entries (#1237)
  doc/newsfragments/3393_changed.report_filter_keep_synthesized.rst
  testplan/common/report/base.py
  tests/functional/testplan/report/testing/test_filter.py
Due: ruff-fmt

Prevent unexpected scrolling on navigation pane during interactive mode
  doc/newsfragments/3232_changed.navigation_fix.rst
  testplan/web_ui/testing/src/Nav/TreeView.js
Due: none

various changes
  examples/ExecutionPools/Remote/setup_script.sh
  examples/ExecutionPools/Remote/test_plan.py
  examples/RemoteDriver/Basic/test_plan.py
  testplan/common/remote/remote_resource.py
  testplan/common/remote/remote_runtime.py
  testplan/common/remote/remote_service.py
  testplan/common/remote/ssh_client.py
  testplan/common/utils/process.py
  testplan/common/utils/remote.py
  testplan/runners/pools/remote.py
  testplan/testing/multitest/driver/zookeeper.py
  tests/functional/testplan/runners/pools/test_pool_remote.py
  tests/unit/testplan/common/remote/test_remote_resource.py
Due: ruff-fmt

retire old execute_cmd
  testplan/common/remote/remote_resource.py
  testplan/common/utils/process.py
  testplan/testing/multitest/driver/zookeeper.py
  tests/functional/testplan/runners/pools/test_pool_remote.py
Due: ruff-fmt

Conditionally add onScroll and key props only in interactive mode
  testplan/web_ui/testing/src/Nav/TreeView.js
Due: none

Print search-friendly log anchors with debug log level
  testplan/common/utils/logger.py
  tests/functional/testplan/cli/data/sample_plan_expected_stdout_0.data
  tests/functional/testplan/cli/data/sample_plan_expected_stdout_1.data
  tests/functional/testplan/cli/test_stdout.py
Due: ruff-fmt

Use default GitHub OIDC instead of PAT
  .github/workflows/scorecards.yml
Due: none

move delete-pushed to remote resource
  doc/en/download/Execution Pools.rst
  testplan/common/remote/remote_resource.py
  testplan/runners/pools/child.py
  tests/unit/testplan/common/remote/test_remote_resource.py
Due: ruff-fmt

Prevent unexpected scrolling on navigation pane during interactive mode (#1238)
  doc/newsfragments/3232_changed.navigation_fix.rst
  testplan/web_ui/testing/src/Nav/TreeView.js
Due: none

Make random defaults deterministic in docs
  testplan/base.py
  testplan/common/exporters/__init__.py
Due: ruff-fmt

Path conditions:
  ruff-fmt: any of: \.py$
  uv-export: any of: ^(pyproject\.toml|constraints\.txt)$
