Repository morganstanley/testplan: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, uv-export

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: black
    name: black
    language: system
    entry: black --check
    types: [python]
  - id: uv-export
    name: uv export
    language: system
    entry: uv export
    args: ["--no-editable", "--no-emit-project", "--no-hashes", "--all-groups", "-o", "constraints.txt"]
    pass_filenames: false
    files: ^(pyproject\.toml|constraints\.txt)$

pytest shall not take testsuite or testcase as test. (#1206)
  testplan/testing/multitest/suite.py
Due: black

fix for pytest 8.4
  tests/unit/testplan/report/test_testing.py
Due: black

fix for pytest 8.4 (#1207)
  tests/unit/testplan/report/test_testing.py
Due: black

merge ruff.toml into pyproject.toml
  pyproject.toml
  ruff.toml
Due: uv-export

move certain dependencies into extras
  .pre-commit-config.yaml
  constraints.txt
  doc/en/assertions.rst
  examples/Assertions/Plotly/test_plan.py
  examples/Driver/DriverConnection/test_plan.py
  pyproject.toml
  testplan/base.py
  testplan/runnable/base.py
  testplan/runnable/interactive/http.py
  testplan/testing/base.py
  testplan/testing/result.py
  testplan/web_ui/web_app.py
Due: black, uv-export

update test ci
  .github/workflows/test_pr.yml
Due: none

add jinja2 to deps
  constraints.txt
  pyproject.toml
  testplan/testing/multitest/entries/base.py
Due: black, uv-export

add extras to ci test matrix
  .github/workflows/test_pr.yml
  testplan/cli/commands/writers.py
  tests/functional/examples/test_examples.py
  tests/functional/testplan/exporters/testing/test_webserver.py
  tests/functional/testplan/runnable/interactive/__init__.py
  tests/functional/testplan/testing/multitest/test_driver_info.py
  tests/unit/testplan/runnable/interactive/__init__.py
  tests/unit/testplan/web_ui/__init__.py
Due: black

add confluent-kafka to test group; fix driver-info table log
  constraints.txt
  pyproject.toml
  testplan/testing/base.py
  tests/unit/testplan/testing/multitest/driver/mykafka/test_kafka.py
Due: black, uv-export

add newsfrag
  doc/newsfragments/3205_changed.extras.rst
  tests/unit/testplan/testing/multitest/driver/mykafka/test_kafka.py
Due: black

update docs
  doc/en/assertions.rst
  doc/en/getting_started.rst
  doc/en/interactive.rst
Due: none

add missing click
  .github/workflows/test_pr.yml
  constraints.txt
  pyproject.toml
Due: uv-export

adjust doc/news wording
  doc/en/getting_started.rst
  doc/newsfragments/3205_changed.extras.rst
Due: none

Feature!/move certain dependencies into extras (#1205)
  .github/workflows/test_pr.yml
  .pre-commit-config.yaml
  constraints.txt
  doc/en/assertions.rst
  doc/en/getting_started.rst
  doc/en/interactive.rst
  doc/newsfragments/3205_changed.extras.rst
  examples/Assertions/Plotly/test_plan.py
  examples/Driver/DriverConnection/test_plan.py
  pyproject.toml
  testplan/base.py
  testplan/cli/commands/writers.py
  testplan/runnable/base.py
  testplan/runnable/interactive/http.py
  testplan/testing/base.py
  testplan/testing/multitest/entries/base.py
  testplan/testing/result.py
  testplan/web_ui/web_app.py
  tests/functional/examples/test_examples.py
  tests/functional/testplan/exporters/testing/test_webserver.py
  tests/functional/testplan/runnable/interactive/__init__.py
  tests/functional/testplan/testing/multitest/test_driver_info.py
  tests/unit/testplan/runnable/interactive/__init__.py
  tests/unit/testplan/web_ui/__init__.py
Due: black, uv-export

set tz to UTC when tzlocal returns local
  doc/newsfragments/3301_changed.tz_local_force_utc.rst
  testplan/common/utils/timing.py
Due: black

adapt to gherkin changes
  constraints.txt
  examples/BDD/common_steps/test_plan.py
  examples/BDD/known_to_fail/known_failure_feature.feature
  examples/BDD/known_to_fail/known_failure_fixed.feature
  examples/BDD/known_to_fail/known_failure_scenarios.feature
  examples/BDD/parallel_execution/parallel.feature
  pyproject.toml
  testplan/testing/bdd/gherkin.py
  testplan/testing/bdd/suite.py
  testplan/testing/bdd/tag.py
  tests/functional/testplan/testing/bdd/features/labels/labels.feature
  tests/functional/testplan/testing/bdd/test_bdd.py
Due: black, uv-export

Fix/set tz to UTC when tzlocal returns local (#1209)
  doc/newsfragments/3301_changed.tz_local_force_utc.rst
  testplan/common/utils/timing.py
Due: black

deny rule keyword; add newsfrag
  doc/newsfragments/3073_changed.gherkin_major_version_upgrade.rst
  testplan/testing/bdd/gherkin.py
  testplan/testing/bdd/tag.py
Due: black

add back missing example tests; update doc
  doc/en/bdd.rst
  doc/newsfragments/3073_changed.gherkin_major_version_upgrade.rst
  tests/functional/examples/test_examples.py
Due: black

Feature!/bdd in py311 (#1204)
  constraints.txt
  doc/en/bdd.rst
  doc/newsfragments/3073_changed.gherkin_major_version_upgrade.rst
  examples/BDD/common_steps/test_plan.py
  examples/BDD/known_to_fail/known_failure_feature.feature
  examples/BDD/known_to_fail/known_failure_fixed.feature
  examples/BDD/known_to_fail/known_failure_scenarios.feature
  examples/BDD/parallel_execution/parallel.feature
  pyproject.toml
  testplan/testing/bdd/gherkin.py
  testplan/testing/bdd/suite.py
  testplan/testing/bdd/tag.py
  tests/functional/examples/test_examples.py
  tests/functional/testplan/testing/bdd/features/labels/labels.feature
  tests/functional/testplan/testing/bdd/test_bdd.py
Due: black, uv-export

allow extra fields in runtime data file; update some type hints
  testplan/base.py
  testplan/common/entity/base.py
  testplan/parser.py
Due: black

fix plots of driver-info feature
  testplan/testing/base.py
Due: black

add test
  testplan/testing/base.py
  tests/functional/testplan/testing/multitest/test_driver_info.py
Due: black

add newsfrag
  doc/newsfragments/3337_changed.fix_driver_info_plot.rst
Due: none

address review comment
  testplan/testing/base.py
Due: black

Fix/timeline plots of driver-info feature (#1211)
  doc/newsfragments/3337_changed.fix_driver_info_plot.rst
  testplan/testing/base.py
  tests/functional/testplan/testing/multitest/test_driver_info.py
Due: black

fix driver-info test
  tests/functional/testplan/testing/multitest/test_driver_info.py
Due: black

Fix/driver-info testcase (#1212)
  tests/functional/testplan/testing/multitest/test_driver_info.py
Due: black

adjust estimated test execution time based on case count change
  testplan/parser.py
  testplan/runnable/base.py
Due: black

remove releaseherald copy under testplan repo
  constraints.txt
  releaseherald/.gitignore
  releaseherald/docs/.pages
  releaseherald/docs/command_line.md
  releaseherald/docs/configuration.md
  releaseherald/docs/index.md
  releaseherald/docs/plugins/.pages
  releaseherald/docs/plugins/basics.md
  releaseherald/docs/plugins/dataclasses.md
  releaseherald/docs/plugins/examples.md
  releaseherald/docs/plugins/helpers.md
  releaseherald/docs/plugins/hooks.md
  releaseherald/docs/plugins/stock.md
  releaseherald/docs/version_template.md
  releaseherald/example_plugin/pyproject.toml
  releaseherald/example_plugin/releaseherald_demo_plugin/__init__.py
  releaseherald/example_plugin/releaseherald_demo_plugin/plugin.py
  releaseherald/example_plugin/setup.cfg
  releaseherald/mkdocs.yml
  releaseherald/mypy.ini
  releaseherald/pyproject.toml
  releaseherald/releaseherald/__init__.py
  releaseherald/releaseherald/configuration.py
  releaseherald/releaseherald/main.py
  releaseherald/releaseherald/plugins/__init__.py
  releaseherald/releaseherald/plugins/base.py
  releaseherald/releaseherald/plugins/hookspecs.py
  releaseherald/releaseherald/plugins/interface.py
  releaseherald/releaseherald/plugins/latest_filter.py
  releaseherald/releaseherald/plugins/manager.py
  releaseherald/releaseherald/plugins/metadata_extractor.py
  releaseherald/releaseherald/plugins/plugin_config.py
  releaseherald/releaseherald/plugins/submodules.py
  releaseherald/releaseherald/templates/__init__.py
  releaseherald/releaseherald/templates/news.rst
  releaseherald/requirements.txt
  releaseherald/setup.cfg
Due: black, uv-export

place adjusted time values in execution_time fields of cfg.runtime_data
  testplan/common/utils/logger.py
  testplan/runnable/base.py
  testplan/testing/multitest/base.py
Due: black

add tests & newsfrag
  doc/newsfragments/3294_changed.testcase_count_adjusted_runtime.rst
  tests/functional/testplan/runners/pools/test_auto_part.py
Due: black

update doc; hitchhike ns package debug msg
  doc/en/introduction.rst
  doc/en/pools.rst
  doc/newsfragments/3294_changed.testcase_count_adjusted_runtime.rst
  examples/ExecutionPools/AutoPart/runtime_data.txt
  testplan/runnable/interactive/reloader.py
Due: black

address review comments
  testplan/runnable/base.py
  tests/functional/testplan/runners/pools/test_auto_part.py
Due: black

tweak log msg; revert some unnecessary changes
  testplan/runnable/base.py
Due: black

address more review comments
  testplan/runnable/base.py
Due: black

fix tests
  tests/functional/testplan/runners/pools/test_auto_part.py
Due: black
