Repository morganstanley/testplan: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, uv-export

black:
  name: black
  language: system
  entry: black --check

uv-export:
  name: uv export
  language: system
  entry: uv export
  args:
  - --no-editable
  - --no-emit-project
  - --no-hashes
  - --all-groups
  - -o
  - constraints.txt
  pass_filenames: false

Feature/relax signature check of user defined testcases/hooks (#1195)
  doc/newsfragments/3202_changed.relax_signature_check.rst
  examples/Multitest/Hooks/test_plan.py
  testplan/common/utils/callable.py
  testplan/common/utils/interface.py
  testplan/testing/multitest/parametrization.py
  testplan/testing/multitest/suite.py
  tests/unit/testplan/common/utils/test_interface.py
  tests/unit/testplan/testing/multitest/test_suite.py
Due: black

bugfix
  doc/newsfragments/2900_changed.pdf_stdout_render_bug.rst
  testplan/exporters/testing/pdf/renderers/entries/assertions.py
  testplan/testing/multitest/entries/stdout/assertions.py
  tests/functional/testplan/cli/data/curr2.data
  tests/functional/testplan/cli/data/old2.data
Due: black

Fix/issues related to pdf rendering & console output (#1196)
  doc/newsfragments/2900_changed.pdf_stdout_render_bug.rst
  testplan/exporters/testing/pdf/renderers/entries/assertions.py
  testplan/testing/multitest/entries/stdout/assertions.py
  tests/functional/testplan/cli/data/curr2.data
  tests/functional/testplan/cli/data/old2.data
Due: black

first getReport of interactive mode to load full report
  doc/newsfragments/3146_changed.speed_up_interactive_initial_load.rst
  testplan/runnable/interactive/http.py
  testplan/web_ui/testing/package.json
  testplan/web_ui/testing/src/Report/InteractiveReport.js
  testplan/web_ui/testing/src/Report/__tests__/InteractiveReport.test.js
  testplan/web_ui/testing/src/Report/__tests__/__snapshots__/InteractiveReport.test.js.snap
Due: black

first getReport of interactive mode to load full report (#1166)
  doc/newsfragments/3146_changed.speed_up_interactive_initial_load.rst
  testplan/runnable/interactive/http.py
  testplan/web_ui/testing/package.json
  testplan/web_ui/testing/src/Report/InteractiveReport.js
  testplan/web_ui/testing/src/Report/__tests__/InteractiveReport.test.js
  testplan/web_ui/testing/src/Report/__tests__/__snapshots__/InteractiveReport.test.js.snap
Due: black

refactor out local constructing of underlying driver inside remotedrivers
  doc/newsfragments/3193_changed.tweak_remote_driver.rst
  testplan/common/remote/remote_driver.py
  testplan/testing/environment/base.py
  testplan/testing/environment/graph.py
  tests/functional/testplan/testing/multitest/test_multitest_drivers.py
  tests/unit/testplan/testing/environment/common.py
  tests/unit/testplan/testing/environment/test_base.py
  tests/unit/testplan/testing/environment/test_graph.py
Due: black

Set maximum marshmallow version
  pyproject.toml
Due: uv-export

Added news fragment
  doc/newsfragments/3139_new.added_timeout_entry.rst
Due: none

Set maximum marshmallow version (#1198)
  pyproject.toml
Due: uv-export

add newsfrag for upperbound on marshmallow version
  doc/newsfragments/3274_changed.marshmallow_version.rst
Due: none

Misc/add newsfrag for marshmallow version upper bound (#1199)
  doc/newsfragments/3274_changed.marshmallow_version.rst
Due: none

Refactor/underlying driver inside RemoteDriver to not initialised locally (#1197)
  doc/newsfragments/3193_changed.tweak_remote_driver.rst
  testplan/common/remote/remote_driver.py
  testplan/testing/environment/base.py
  testplan/testing/environment/graph.py
  tests/functional/testplan/testing/multitest/test_multitest_drivers.py
  tests/unit/testplan/testing/environment/common.py
  tests/unit/testplan/testing/environment/test_base.py
  tests/unit/testplan/testing/environment/test_graph.py
Due: black

Make testplan timeout obvious for users in report (#1184)
  doc/newsfragments/3139_new.added_timeout_entry.rst
  testplan/common/entity/base.py
  testplan/runnable/base.py
  testplan/runners/local.py
  testplan/testing/multitest/base.py
  tests/functional/testplan/runners/pools/test_pool_process.py
  tests/functional/testplan/test_timeout.py
  tests/unit/testplan/runners/test_local.py
Due: black

Fix run timer data in UI fake report
  testplan/web_ui/testing/src/Common/fakeReport.js
Due: none

add news frag
  doc/newsfragments/3277_changed.ui_fakereport_fix.rst
Due: none

Fix UI fake report (#1201)
  doc/newsfragments/3277_changed.ui_fakereport_fix.rst
  testplan/web_ui/testing/src/Common/fakeReport.js
Due: none

auto_part_runtime_limit & plan_runtime_target now can be "auto"
  doc/en/pools.rst
  doc/newsfragments/3228_changed.auto_runtime_target.rst
  doc/newsfragments/3228_changed.teardown_time_mandatory.rst
  examples/ExecutionPools/AutoPart/runtime_data.txt
  testplan/base.py
  testplan/defaults.py
  testplan/parser.py
  testplan/runnable/base.py
  testplan/runners/pools/tasks/base.py
  tests/functional/testplan/runners/pools/test_auto_part.py
Due: black

auto_part_runtime_limit & plan_runtime_target now can be "auto" (#1200)
  doc/en/pools.rst
  doc/newsfragments/3228_changed.auto_runtime_target.rst
  doc/newsfragments/3228_changed.teardown_time_mandatory.rst
  examples/ExecutionPools/AutoPart/runtime_data.txt
  testplan/base.py
  testplan/defaults.py
  testplan/parser.py
  testplan/runnable/base.py
  testplan/runners/pools/tasks/base.py
  tests/functional/testplan/runners/pools/test_auto_part.py
Due: black

fix docstring
  doc/newsfragments/3228_changed.auto_runtime_target.rst
  doc/newsfragments/3228_changed.teardown_time_mandatory.rst
Due: none

fix docstring (#1202)
  doc/newsfragments/3228_changed.auto_runtime_target.rst
  doc/newsfragments/3228_changed.teardown_time_mandatory.rst
Due: none

add hideType prop to AssertionHeader
  testplan/web_ui/testing/src/AssertionPane/Assertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionHeader.js
Due: none

Add DictMatchAllAssertion component
  testplan/web_ui/testing/src/AssertionPane/Assertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionHeader.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/DictMatchAllAssertion.js
Due: none

Refactor DictMatchAssertion and FixMatchAssertion components into MatchBaseAssertion
  testplan/web_ui/testing/src/AssertionPane/AssertionHeader.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/DictMatchAssertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/FixMatchAssertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/MatchBaseAssertion.js
Due: none

Add MatchAllBaseAssertion and refactor dict/fix components
  testplan/web_ui/testing/src/AssertionPane/Assertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/FixMatchAllAssertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/MatchAllBaseAssertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/MatchBaseAssertion.js
Due: none

adapt to gherkin changes
  .pre-commit-config.yaml
  constraints.txt
  examples/BDD/common_steps/test_plan.py
  examples/BDD/known_to_fail/known_failure_feature.feature
  examples/BDD/known_to_fail/known_failure_fixed.feature
  examples/BDD/known_to_fail/known_failure_scenarios.feature
  examples/BDD/parallel_execution/parallel.feature
  pyproject.toml
  testplan/testing/bdd/gherkin.py
  testplan/testing/bdd/suite.py
  testplan/testing/bdd/tag.py
  tests/functional/testplan/testing/bdd/features/labels/labels.feature
  tests/functional/testplan/testing/bdd/test_bdd.py
Due: black, uv-export

Add dev dependency for proxying
  .gitignore
  testplan/web_ui/testing/package.json
  testplan/web_ui/testing/pnpm-lock.yaml
Due: none

Refactor DictLogAssertion and FixLogAssertion
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/DictLogAssertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/FixLogAssertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/LogBaseAssertion.js
Due: none

Add snapshot tests
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/DictMatchAllAssertion.test.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/FixMatchAllAssertion.test.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/__snapshots__/DictMatchAllAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/__snapshots__/FixMatchAllAssertion.test.js.snap
Due: none

move certain dependencies into extras
  .pre-commit-config.yaml
  constraints.txt
  doc/en/assertions.rst
  examples/Assertions/Plotly/test_plan.py
  examples/Driver/DriverConnection/test_plan.py
  pyproject.toml
  testplan/base.py
  testplan/runnable/base.py
  testplan/runnable/interactive/http.py
  testplan/testing/base.py
  testplan/testing/result.py
  testplan/web_ui/web_app.py
Due: black, uv-export

update test ci
  .github/workflows/test_pr.yml
Due: none

Update fakeReport.js
  testplan/web_ui/testing/src/Common/fakeReport.js
Due: none

Fix conversion of timestamp to string with timezone
  testplan/web_ui/testing/src/Report/reportUtils.js
Due: none

add jinja2 to deps
  constraints.txt
  pyproject.toml
  testplan/testing/multitest/entries/base.py
Due: black, uv-export

add confluent-kafka to test group; fix driver-info table log
  constraints.txt
  pyproject.toml
  testplan/testing/base.py
  tests/unit/testplan/testing/multitest/driver/mykafka/test_kafka.py
Due: black, uv-export

add extras to ci test matrix
  .github/workflows/test_pr.yml
  testplan/cli/commands/writers.py
  tests/functional/examples/test_examples.py
  tests/functional/testplan/exporters/testing/test_webserver.py
  tests/functional/testplan/runnable/interactive/__init__.py
  tests/functional/testplan/testing/multitest/test_driver_info.py
  tests/unit/testplan/runnable/interactive/__init__.py
  tests/unit/testplan/web_ui/__init__.py
Due: black

Add news frag
  doc/newsfragments/3172_new.dictmatchall_fixmatchall.rst
Due: none

add newsfrag
  doc/newsfragments/3205_changed.extras.rst
  tests/unit/testplan/testing/multitest/driver/mykafka/test_kafka.py
Due: black

adapt to gherkin changes
  constraints.txt
  examples/BDD/common_steps/test_plan.py
  examples/BDD/known_to_fail/known_failure_feature.feature
  examples/BDD/known_to_fail/known_failure_fixed.feature
  examples/BDD/known_to_fail/known_failure_scenarios.feature
  examples/BDD/parallel_execution/parallel.feature
  pyproject.toml
  testplan/testing/bdd/gherkin.py
  testplan/testing/bdd/suite.py
  testplan/testing/bdd/tag.py
  tests/functional/testplan/testing/bdd/features/labels/labels.feature
  tests/functional/testplan/testing/bdd/test_bdd.py
Due: black, uv-export

Create dict.match_all and fix.match_all UI components (#1203)
  .gitignore
  doc/newsfragments/3172_new.dictmatchall_fixmatchall.rst
  testplan/web_ui/testing/package.json
  testplan/web_ui/testing/pnpm-lock.yaml
  testplan/web_ui/testing/src/AssertionPane/Assertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionHeader.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/DictLogAssertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/DictMatchAllAssertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/DictMatchAssertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/FixLogAssertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/FixMatchAllAssertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/FixMatchAssertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/LogBaseAssertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/MatchAllBaseAssertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/MatchBaseAssertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/DictMatchAllAssertion.test.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/FixMatchAllAssertion.test.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/__snapshots__/DictMatchAllAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/__snapshots__/FixMatchAllAssertion.test.js.snap
  testplan/web_ui/testing/src/Common/fakeReport.js
  testplan/web_ui/testing/src/Report/reportUtils.js
Due: none

pytest shall not take testsuite or testcase as test.
  testplan/testing/multitest/suite.py
Due: black

Path conditions:
  black: any of: \.py$
  uv-export: any of: ^(pyproject\.toml|constraints\.txt)$
