Repository morganstanley/testplan: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-fmt, uv-export

ruff-fmt:
  name: ruff format
  language: system
  entry: ruff format --check

uv-export:
  name: uv export
  language: system
  entry: uv export
  args:
  - --no-editable
  - --no-emit-project
  - --no-hashes
  - --all-groups
  - --all-extras
  - -o
  - constraints.txt
  pass_filenames: false

Fix scroll bug (#1303)
  testplan/web_ui/testing/src/AssertionPane/ResourcePanel.js
  testplan/web_ui/testing/src/Nav/TreeView.js
Due: none

Support new version of report structure.
  testplan/web_ui/testing/src/Common/utils.js
  testplan/web_ui/testing/src/Report/BatchReport.js
  testplan/web_ui/testing/src/Report/reportUtils.js
Due: none

update doc
  doc/en/introduction.rst
  doc/en/multitest.rst
  testplan/parser.py
Due: ruff-fmt

Feature/add condition param to xfail decorator (#1300)
  constraints.txt
  doc/en/introduction.rst
  doc/en/multitest.rst
  doc/newsfragments/3584_new.xfail_condition.rst
  testplan/cli/commands/writers.py
  testplan/common/report/base.py
  testplan/common/serialization/fields.py
  testplan/common/utils/match.py
  testplan/common/utils/observability/tracing.py
  testplan/exporters/testing/json/base.py
  testplan/exporters/testing/pdf/__init__.py
  testplan/parser.py
  testplan/report/testing/base.py
  testplan/runnable/base.py
  testplan/testing/base.py
  testplan/testing/multitest/base.py
  testplan/testing/multitest/suite.py
  testplan/testing/result.py
  testplan/web_ui/web_app.py
  tests/functional/testplan/testing/multitest/test_parametrization.py
  tests/functional/testplan/testing/multitest/test_xfail.py
Due: ruff-fmt, uv-export

fix bug introduced by none check; update type hinting & remove certain none checks
  testplan/base.py
  testplan/common/entity/base.py
  testplan/common/remote/remote_resource.py
  testplan/common/remote/remote_service.py
  testplan/common/remote/ssh_client.py
  testplan/common/utils/context.py
  testplan/common/utils/helper.py
  testplan/common/utils/process.py
  testplan/common/utils/sockets/client.py
  testplan/common/utils/sockets/fix/server.py
  testplan/common/utils/watcher.py
  testplan/runnable/base.py
  testplan/runners/pools/base.py
  testplan/runners/pools/connection.py
  testplan/runners/pools/remote.py
  testplan/testing/base.py
  testplan/testing/bdd/step_registry.py
  testplan/testing/multitest/base.py
  testplan/testing/multitest/driver/app.py
  testplan/testing/multitest/driver/base.py
  testplan/testing/multitest/driver/kafka.py
  testplan/testing/multitest/driver/sqlite.py
  testplan/testing/multitest/driver/zookeeper.py
  testplan/testing/multitest/logging.py
  testplan/testing/py_test.py
  testplan/testing/result.py
  tests/unit/testplan/testing/multitest/driver/test_tcp_server.py
  tests/unit/testplan/testing/multitest/test_multitest.py
Due: ruff-fmt

let's be conservative now
  testplan/common/entity/base.py
Due: ruff-fmt

Fix/bad none check for type hinting (#1305)
  testplan/base.py
  testplan/common/entity/base.py
  testplan/common/remote/remote_resource.py
  testplan/common/remote/remote_service.py
  testplan/common/remote/ssh_client.py
  testplan/common/utils/context.py
  testplan/common/utils/helper.py
  testplan/common/utils/process.py
  testplan/common/utils/sockets/client.py
  testplan/common/utils/sockets/fix/server.py
  testplan/common/utils/watcher.py
  testplan/runnable/base.py
  testplan/runners/pools/base.py
  testplan/runners/pools/connection.py
  testplan/runners/pools/remote.py
  testplan/testing/base.py
  testplan/testing/bdd/step_registry.py
  testplan/testing/multitest/base.py
  testplan/testing/multitest/driver/app.py
  testplan/testing/multitest/driver/base.py
  testplan/testing/multitest/driver/kafka.py
  testplan/testing/multitest/driver/sqlite.py
  testplan/testing/multitest/driver/zookeeper.py
  testplan/testing/multitest/logging.py
  testplan/testing/py_test.py
  testplan/testing/result.py
  tests/unit/testplan/testing/multitest/driver/test_tcp_server.py
  tests/unit/testplan/testing/multitest/test_multitest.py
Due: ruff-fmt

Add compressed assertion files support.
  testplan/web_ui/testing/src/Common/utils.js
  testplan/web_ui/testing/src/Report/BatchReport.js
  testplan/web_ui/testing/src/Report/reportUtils.js
Due: none

Reply Stop to messages from inactive workers
  testplan/runners/pools/base.py
  testplan/runners/pools/child.py
  tests/unit/testplan/runners/pools/test_pool_base.py
Due: ruff-fmt

Reply Stop to messages from inactive workers (#1307)
  testplan/runners/pools/base.py
  testplan/runners/pools/child.py
  tests/unit/testplan/runners/pools/test_pool_base.py
Due: ruff-fmt

Revert "Reply Stop to messages from inactive workers (#1307)"
  testplan/runners/pools/base.py
  testplan/runners/pools/child.py
  tests/unit/testplan/runners/pools/test_pool_base.py
Due: ruff-fmt

Prevent zmq socket stuck and task orphan on mid-flight worker abort
  testplan/runners/pools/base.py
  testplan/runners/pools/connection.py
  tests/unit/testplan/runners/pools/test_pool_base.py
  tests/unit/testplan/runners/pools/test_process_worker.py
Due: ruff-fmt

Prevent zmq socket stuck and task orphan on mid-flight worker abort (#1308)
  testplan/runners/pools/base.py
  testplan/runners/pools/connection.py
  tests/unit/testplan/runners/pools/test_pool_base.py
  tests/unit/testplan/runners/pools/test_process_worker.py
Due: ruff-fmt

fix: make suite_name non-greedy and remove re.DOTALL in _CASE_REGEX
  testplan/testing/py_test.py
Due: ruff-fmt

Fix flaky ResourceMonitorServer start
  testplan/monitor/resource.py
Due: ruff-fmt

Fix flaky ResourceMonitorServer start (#1310)
  testplan/monitor/resource.py
Due: ruff-fmt

Speed up testcase decoration by avoiding inspect.getsourcelines and avoid repeated calls for LocationMetadata.from_object
  doc/newsfragments/3828_changed.speedup_testplan_startup.rst
  testplan/testing/multitest/suite.py
  testplan/testing/multitest/test_metadata.py
  tests/unit/testplan/testing/multitest/test_suite.py
Due: ruff-fmt

Speed up testcase decoration by avoiding inspect.getsourcelines and avoid repeated calls for LocationMetadata.from_object (#1311)
  doc/newsfragments/3828_changed.speedup_testplan_startup.rst
  testplan/testing/multitest/suite.py
  testplan/testing/multitest/test_metadata.py
  tests/unit/testplan/testing/multitest/test_suite.py
Due: ruff-fmt

Revert "Speed up testcase decoration by avoiding inspect.getsourcelines and a…"
  doc/newsfragments/3828_changed.speedup_testplan_startup.rst
  testplan/testing/multitest/suite.py
  testplan/testing/multitest/test_metadata.py
  tests/unit/testplan/testing/multitest/test_suite.py
Due: ruff-fmt

Revert "Speed up testcase decoration by avoiding inspect.getsourcelines and a…" (#1313)
  doc/newsfragments/3828_changed.speedup_testplan_startup.rst
  testplan/testing/multitest/suite.py
  testplan/testing/multitest/test_metadata.py
  tests/unit/testplan/testing/multitest/test_suite.py
Due: ruff-fmt

Add unstable counter to webui
  doc/newsfragments/3668_changed.add_unstable_counter.rst
  testplan/web_ui/testing/src/Common/defaults.js
  testplan/web_ui/testing/src/Nav/InteractiveNavEntry.js
  testplan/web_ui/testing/src/Nav/NavBreadcrumbs.js
  testplan/web_ui/testing/src/Nav/NavEntry.js
  testplan/web_ui/testing/src/Nav/NavList.js
  testplan/web_ui/testing/src/Nav/TreeView.js
  testplan/web_ui/testing/src/Nav/__tests__/InteractiveNavEntry.test.js
  testplan/web_ui/testing/src/Nav/__tests__/NavEntry.test.js
  testplan/web_ui/testing/src/Nav/__tests__/NavList.test.js
  testplan/web_ui/testing/src/Nav/__tests__/__snapshots__/InteractiveNavEntry.test.js.snap
  testplan/web_ui/testing/src/Nav/__tests__/__snapshots__/InteractiveNavList.test.js.snap
  testplan/web_ui/testing/src/Nav/__tests__/__snapshots__/NavEntry.test.js.snap
  testplan/web_ui/testing/src/Nav/__tests__/__snapshots__/NavList.test.js.snap
  testplan/web_ui/testing/src/Nav/navUtils.js
  testplan/web_ui/testing/src/Report/__tests__/BatchReport.test.js
  testplan/web_ui/testing/src/Report/__tests__/__snapshots__/BatchReport.test.js.snap
  testplan/web_ui/testing/src/Report/__tests__/reportUtils.test.js
  testplan/web_ui/testing/src/Report/reportUtils.js
Due: none

Add unstable counter to webui (#1312)
  doc/newsfragments/3668_changed.add_unstable_counter.rst
  testplan/web_ui/testing/src/Common/defaults.js
  testplan/web_ui/testing/src/Nav/InteractiveNavEntry.js
  testplan/web_ui/testing/src/Nav/NavBreadcrumbs.js
  testplan/web_ui/testing/src/Nav/NavEntry.js
  testplan/web_ui/testing/src/Nav/NavList.js
  testplan/web_ui/testing/src/Nav/TreeView.js
  testplan/web_ui/testing/src/Nav/__tests__/InteractiveNavEntry.test.js
  testplan/web_ui/testing/src/Nav/__tests__/NavEntry.test.js
  testplan/web_ui/testing/src/Nav/__tests__/NavList.test.js
  testplan/web_ui/testing/src/Nav/__tests__/__snapshots__/InteractiveNavEntry.test.js.snap
  testplan/web_ui/testing/src/Nav/__tests__/__snapshots__/InteractiveNavList.test.js.snap
  testplan/web_ui/testing/src/Nav/__tests__/__snapshots__/NavEntry.test.js.snap
  testplan/web_ui/testing/src/Nav/__tests__/__snapshots__/NavList.test.js.snap
  testplan/web_ui/testing/src/Nav/navUtils.js
  testplan/web_ui/testing/src/Report/__tests__/BatchReport.test.js
  testplan/web_ui/testing/src/Report/__tests__/__snapshots__/BatchReport.test.js.snap
  testplan/web_ui/testing/src/Report/__tests__/reportUtils.test.js
  testplan/web_ui/testing/src/Report/reportUtils.js
Due: none

Speed up testplan startup by deferring LocationMetadata resolution and fix filepath for testcases wrapped with functools.wrap
  doc/newsfragments/3828_changed.defer_location_metadata.rst
  testplan/runnable/base.py
  testplan/testing/multitest/suite.py
  testplan/testing/multitest/test_metadata.py
  tests/unit/testplan/runnable/test_base.py
  tests/unit/testplan/testing/multitest/test_suite.py
Due: ruff-fmt

Shorten newsfrag
  doc/newsfragments/3828_changed.defer_location_metadata.rst
Due: none

Remove unused TESTSUITE_METADATA and resolve from type(suite), shorten var names
  testplan/testing/multitest/suite.py
Due: ruff-fmt

Speed up testplan startup by deferring LocationMetadata resolution and fix filepath for testcases wrapped with functools.wrap (#1314)
  doc/newsfragments/3828_changed.defer_location_metadata.rst
  testplan/runnable/base.py
  testplan/testing/multitest/suite.py
  testplan/testing/multitest/test_metadata.py
  tests/unit/testplan/runnable/test_base.py
  tests/unit/testplan/testing/multitest/test_suite.py
Due: ruff-fmt

fix xfail condition to accept description being none
  doc/en/introduction.rst
  doc/newsfragments/3584_changed.xfail_condition_description.rst
  testplan/parser.py
  testplan/report/testing/base.py
  tests/functional/testplan/testing/multitest/test_xfail.py
Due: ruff-fmt

Fix/xfail condition to accept description being none (#1315)
  doc/en/introduction.rst
  doc/newsfragments/3584_changed.xfail_condition_description.rst
  testplan/parser.py
  testplan/report/testing/base.py
  tests/functional/testplan/testing/multitest/test_xfail.py
Due: ruff-fmt

Debug pytest fail
  tests/functional/testplan/runners/pools/test_pool_process.py
  tests/functional/testplan/runners/pools/test_task_rerun.py
Due: ruff-fmt

refactor TestEnvironment's start & stop to threadpool-based solution
  testplan/testing/environment/base.py
  testplan/testing/multitest/driver/app.py
  tests/unit/testplan/testing/environment/common.py
  tests/unit/testplan/testing/environment/test_base.py
Due: ruff-fmt

Increase precedence of XFAIL status in report
  testplan/common/report/base.py
  testplan/common/utils/logger.py
  tests/functional/testplan/testing/multitest/test_xfail.py
  tests/unit/testplan/common/report/test_base.py
Due: ruff-fmt

Fix xpass-strict categorization on UI report
  testplan/web_ui/testing/src/Common/defaults.js
Due: none

Revert adding a pool_lock to handle_taskpull_request to prevent the main thread from being stuck due to slow restarts of worker
  testplan/runners/pools/base.py
  tests/unit/testplan/runners/pools/test_pool_base.py
Due: ruff-fmt

Revert adding a pool_lock to handle_taskpull_request to prevent the main thread from being stuck due to slow restarts of worker (#1319)
  testplan/runners/pools/base.py
  tests/unit/testplan/runners/pools/test_pool_base.py
Due: ruff-fmt

Fix task rerun marker to not mask successful retries
  testplan/runners/pools/base.py
Due: ruff-fmt

Add news frag
  doc/newsfragments/3837_changed.xfail_status_precedence.rst
Due: none

two pytest wrapper changes
  examples/PyTest/pytest_tests.py
  testplan/testing/py_test.py
  tests/functional/testplan/testing/test_py_test.py
  tests/unit/testplan/testing/test_pytest.py
Due: ruff-fmt

Revert "Fix xpass-strict categorization on UI report"
  testplan/web_ui/testing/src/Common/defaults.js
Due: none

add newsfrag
  doc/newsfragments/3842_changed.pytest_wrapper.rst
Due: none

Path conditions:
  ruff-fmt: any of: \.py$
  uv-export: any of: ^(pyproject\.toml|constraints\.txt)$
