Repository morganstanley/testplan: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-fmt, uv-export

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: ruff-fmt
    name: ruff format
    language: system
    entry: ruff format --check
    types: [python]
  - id: uv-export
    name: uv export
    language: system
    entry: uv export
    args: ["--no-editable", "--no-emit-project", "--no-hashes", "--all-groups", "--all-extras", "-o", "constraints.txt"]
    pass_filenames: false
    files: ^(pyproject\.toml|constraints\.txt)$

Add edgecase check for multitest autopart
  doc/newsfragments/3497_changed.add_edgecase_check_for_autopart.rst
  testplan/runnable/base.py
  tests/functional/testplan/runners/pools/discover_tasks/sub_auto_parts_zero_testcase_tasks.py
  tests/functional/testplan/runners/pools/test_auto_part.py
Due: ruff-fmt

add force_flush before fork to prevent grpc issues, add plan level
  testplan/base.py
  testplan/monitor/resource.py
  testplan/parser.py
  testplan/runnable/base.py
  testplan/testing/base.py
  testplan/testing/multitest/base.py
  testplan/testing/py_test.py
  testplan/testing/pyunit.py
  tests/functional/testplan/common/utils/observability/test_tracing.py
Due: ruff-fmt

shift set_span_as_failed after xfail func call, shift to enum for otel_traces
  doc/en/observability.rst
  examples/Observability/test_plan.py
  testplan/base.py
  testplan/common/utils/observability/__init__.py
  testplan/common/utils/observability/trace_level.py
  testplan/common/utils/observability/tracing.py
  testplan/defaults.py
  testplan/parser.py
  testplan/runnable/base.py
  testplan/runners/pools/base.py
  testplan/testing/base.py
  testplan/testing/multitest/base.py
  testplan/testing/py_test.py
  testplan/testing/pyunit.py
  tests/functional/examples/test_examples.py
  tests/functional/testplan/common/utils/observability/test_tracing.py
  tests/unit/testplan/common/utils/observability/test_tracing.py
Due: ruff-fmt

pin opentelemetry package version
  doc/en/api/testplan.common.utils.observability.rst
  doc/en/observability.rst
  pyproject.toml
  testplan/common/utils/observability/__init__.py
  testplan/common/utils/observability/logging.py
  testplan/common/utils/observability/loki_exporter.py
  testplan/monitor/resource.py
  tests/conftest.py
  tests/functional/testplan/common/utils/observability/test_logging.py
  tests/functional/testplan/testing/multitest/test_bad_app.py
  tests/functional/testplan/testing/multitest/test_parametrization.py
  tests/functional/testplan/testing/multitest/test_suite_decorators.py
Due: ruff-fmt, uv-export

add otel logging support
  doc/en/api/testplan.common.utils.observability.rst
  doc/en/observability.rst
  doc/newsfragments/3466_new.add_otel_logging.rst
  examples/Observability/test_plan.py
  testplan/base.py
  testplan/common/utils/observability/__init__.py
  testplan/common/utils/observability/logging.py
  testplan/common/utils/observability/loki_exporter.py
  testplan/common/utils/observability/tracing.py
  testplan/parser.py
  testplan/runnable/base.py
  testplan/runners/pools/base.py
  testplan/runners/pools/child.py
  testplan/runners/pools/process.py
  testplan/runners/pools/remote.py
  testplan/testing/base.py
  tests/conftest.py
  tests/functional/testplan/common/utils/observability/test_logging.py
  tests/unit/testplan/common/utils/observability/test_logging.py
Due: ruff-fmt

Add otel tracing
  constraints.txt
  doc/en/api/testplan.common.utils.observability.rst
  doc/en/api/testplan.common.utils.rst
  doc/en/download/Observability.rst
  doc/en/download/index.rst
  doc/en/index.rst
  doc/en/observability.rst
  doc/newsfragments/3387_new.add_observability.rst
  examples/ExecutionPools/Process/tasks.py
  examples/ExecutionPools/Process/test_plan.py
  examples/Observability/test_plan.py
  pyproject.toml
  testplan/base.py
  testplan/common/utils/observability/__init__.py
  testplan/common/utils/observability/tracing.py
  testplan/parser.py
  testplan/runnable/base.py
  testplan/runners/pools/base.py
  testplan/runners/pools/child.py
  testplan/runners/pools/process.py
  testplan/runners/pools/remote.py
  testplan/testing/base.py
  testplan/testing/multitest/base.py
  testplan/testing/py_test.py
  testplan/testing/pyunit.py
  tests/conftest.py
  tests/functional/examples/test_examples.py
  tests/functional/testplan/common/utils/observability/__init__.py
  tests/functional/testplan/common/utils/observability/test_tracing.py
  tests/unit/testplan/common/utils/observability/__init__.py
  tests/unit/testplan/common/utils/observability/test_tracing.py
Due: ruff-fmt, uv-export

add roottraceidgenerator to allow for dummy spanid
  doc/en/observability.rst
  doc/newsfragments/3387_new.add_observability.rst
  examples/ExecutionPools/Process/tasks.py
  examples/ExecutionPools/Process/test_plan.py
  examples/Observability/test_plan.py
  testplan/common/utils/observability/__init__.py
  testplan/common/utils/observability/tracing.py
  tests/conftest.py
  tests/unit/testplan/common/utils/observability/test_tracing.py
Due: ruff-fmt

Update testcase in example to xfail
  examples/Observability/test_plan.py
Due: ruff-fmt

Add original order option for dict.match on the ui
  doc/newsfragments/3534_new.original_order_for_dict_match.rst
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/DictButtonGroup.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/MatchBaseAssertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/__snapshots__/DictMatchAllAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/__snapshots__/DictMatchAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/__snapshots__/FixMatchAssertion.test.js.snap
Due: none

Add original order option for dict.match and fix.match on the ui (#1274)
  doc/newsfragments/3534_new.original_order_for_dict_match.rst
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/DictButtonGroup.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/MatchBaseAssertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/__snapshots__/DictMatchAllAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/__snapshots__/DictMatchAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/__snapshots__/FixMatchAssertion.test.js.snap
Due: none

Add rtl tests for merge report
  testplan/web_ui/testing/package.json
  testplan/web_ui/testing/pnpm-lock.yaml
  testplan/web_ui/testing/src/Common/sampleReports.js
  testplan/web_ui/testing/src/Report/BatchReport.js
  testplan/web_ui/testing/src/Report/__tests__/BatchReport.rtl.test.js
  testplan/web_ui/testing/src/Report/__tests__/__snapshots__/BatchReport.rtl.test.js.snap
Due: none

Added a UI toggle to merge Multitest Parts reports.
  doc/newsfragments/3518_new.add_merge_report_toggle.rst
  testplan/web_ui/testing/src/Nav/TreeView.js
  testplan/web_ui/testing/src/Report/BatchReport.js
  testplan/web_ui/testing/src/Report/__tests__/__snapshots__/BatchReport.test.js.snap
  testplan/web_ui/testing/src/Report/__tests__/reportUtils.test.js
  testplan/web_ui/testing/src/Report/reportUtils.js
  testplan/web_ui/testing/src/Toolbar/Toolbar.js
  testplan/web_ui/testing/src/UserSettings/UserSettings.js
Due: none

Update BatchReport tests to use rtl
  doc/newsfragments/3518_new.add_merge_report_toggle.rst
  testplan/web_ui/testing/src/Common/sampleReports.js
  testplan/web_ui/testing/src/Nav/__tests__/__snapshots__/Nav.test.js.snap
  testplan/web_ui/testing/src/Report/__tests__/BatchReport.rtl.test.js
  testplan/web_ui/testing/src/Report/__tests__/BatchReport.test.js
  testplan/web_ui/testing/src/Report/__tests__/__snapshots__/BatchReport.rtl.test.js.snap
  testplan/web_ui/testing/src/Report/__tests__/__snapshots__/BatchReport.test.js.snap
  testplan/web_ui/testing/src/Report/reportUtils.js
Due: none

Update newsfrag, added [Merged] indicator on ui when merged
  doc/newsfragments/3518_new.add_merge_report_toggle.rst
  testplan/web_ui/testing/src/Report/__tests__/BatchReport.test.js
  testplan/web_ui/testing/src/Report/__tests__/__snapshots__/BatchReport.test.js.snap
  testplan/web_ui/testing/src/Report/__tests__/reportUtils.test.js
  testplan/web_ui/testing/src/Report/reportUtils.js
Due: none

Fix report name for discarded tasks
  doc/newsfragments/3538_changed.remove_task_prefix_for_errored_tasks.rst
  testplan/runnable/base.py
  tests/functional/testplan/exporters/testing/test_failed_tests.py
  tests/functional/testplan/report/testing/test_filter.py
  tests/unit/testplan/runnable/test_base.py
Due: ruff-fmt

Use parent_uids instead of reconstructing parent path
  testplan/web_ui/testing/src/Common/sampleReports.js
  testplan/web_ui/testing/src/Report/__tests__/reportUtils.test.js
  testplan/web_ui/testing/src/Report/reportUtils.js
Due: none

Apply suggestion from @zhenyu-ms
  doc/newsfragments/3538_changed.remove_task_prefix_for_errored_tasks.rst
Due: none

Added a UI toggle to merge Multitest Parts reports. (#1273)
  doc/newsfragments/3518_new.add_merge_report_toggle.rst
  testplan/web_ui/testing/package.json
  testplan/web_ui/testing/pnpm-lock.yaml
  testplan/web_ui/testing/src/Common/sampleReports.js
  testplan/web_ui/testing/src/Nav/TreeView.js
  testplan/web_ui/testing/src/Nav/__tests__/__snapshots__/Nav.test.js.snap
  testplan/web_ui/testing/src/Report/BatchReport.js
  testplan/web_ui/testing/src/Report/__tests__/BatchReport.test.js
  testplan/web_ui/testing/src/Report/__tests__/__snapshots__/BatchReport.test.js.snap
  testplan/web_ui/testing/src/Report/__tests__/reportUtils.test.js
  testplan/web_ui/testing/src/Report/reportUtils.js
  testplan/web_ui/testing/src/Toolbar/Toolbar.js
  testplan/web_ui/testing/src/UserSettings/UserSettings.js
Due: none

Fix report name for errored-out task to remove Task[... prefix (#1275)
  doc/newsfragments/3538_changed.remove_task_prefix_for_errored_tasks.rst
  testplan/runnable/base.py
  tests/functional/testplan/exporters/testing/test_failed_tests.py
  tests/functional/testplan/report/testing/test_filter.py
  tests/unit/testplan/runnable/test_base.py
Due: ruff-fmt

Upgrade plotly.js version to 3.3.1
  doc/newsfragments/3264_changed.upgrade_plotlyjs.rst
  testplan/web_ui/testing/package.json
  testplan/web_ui/testing/pnpm-lock.yaml
Due: none

Upgrade plotly.js version to 3.3.1 (#1276)
  doc/newsfragments/3264_changed.upgrade_plotlyjs.rst
  testplan/web_ui/testing/package.json
  testplan/web_ui/testing/pnpm-lock.yaml
Due: none

Fix bug in autopart logic when pattern contains parts
  doc/newsfragments/3555_changed.fix_autopart_logic_with_parts_filter.rst
  testplan/runnable/base.py
  testplan/testing/base.py
  tests/functional/testplan/runners/pools/test_auto_part.py
  tests/unit/testplan/testing/multitest/test_multitest.py
  tests/unit/testplan/testing/test_pytest.py
  tests/unit/testplan/testing/test_pyunit.py
Due: ruff-fmt

Fix bug in autopart logic when pattern contains parts (#1277)
  doc/newsfragments/3555_changed.fix_autopart_logic_with_parts_filter.rst
  testplan/runnable/base.py
  testplan/testing/base.py
  tests/functional/testplan/runners/pools/test_auto_part.py
  tests/unit/testplan/testing/multitest/test_multitest.py
  tests/unit/testplan/testing/test_pytest.py
  tests/unit/testplan/testing/test_pyunit.py
Due: ruff-fmt

Fix psutil cpu_percent return 0.0 issue.
  testplan/monitor/resource.py
Due: ruff-fmt

improve driver start timeout error msg & error log fetch exception handling
  doc/newsfragments/3566_changed.resource_exception_handling.rst
  testplan/common/entity/base.py
  testplan/testing/base.py
  testplan/testing/environment/base.py
  testplan/testing/multitest/base.py
  tests/functional/testplan/testing/multitest/test_multitest_drivers.py
  tests/unit/testplan/testing/environment/test_base.py
Due: ruff-fmt

some further tweaks
  testplan/testing/base.py
  testplan/testing/multitest/base.py
  testplan/testing/multitest/driver/base.py
  tests/unit/testplan/test_plan_base.py
  tests/unit/testplan/testing/test_base.py
Due: ruff-fmt

update kafka download link
  .github/workflows/test_pr.yml
Due: none

deprecate driver cfg `report_errors_from_logs`; update newsfrag
  doc/newsfragments/3566_changed.resource_exception_handling.rst
  testplan/testing/multitest/driver/base.py
Due: ruff-fmt

Fix/improve driver start timeout msg & error log fetch exc handling (#1279)
  .github/workflows/test_pr.yml
  doc/newsfragments/3566_changed.resource_exception_handling.rst
  testplan/common/entity/base.py
  testplan/testing/base.py
  testplan/testing/environment/base.py
  testplan/testing/multitest/base.py
  testplan/testing/multitest/driver/base.py
  tests/functional/testplan/testing/multitest/test_multitest_drivers.py
  tests/unit/testplan/test_plan_base.py
  tests/unit/testplan/testing/environment/test_base.py
  tests/unit/testplan/testing/test_base.py
Due: ruff-fmt

Add system load in resource monitor.
  doc/newsfragments/3570_new.resource_monitor.rst
  testplan/monitor/resource.py
  testplan/web_ui/testing/src/AssertionPane/ResourcePanel.js
  testplan/web_ui/testing/src/Common/defaults.js
Due: ruff-fmt

fix bdd with gherkin-official>=39 & others
  testplan/testing/bdd/gherkin.py
  testplan/testing/py_test.py
  testplan/testing/pyunit.py
Due: ruff-fmt

Fix/bdd with gherkin-official>=39 & others (#1281)
  testplan/testing/bdd/gherkin.py
  testplan/testing/py_test.py
  testplan/testing/pyunit.py
Due: ruff-fmt

sync remote disk after copying workspace
  doc/newsfragments/3577_changed.remote.rst
  testplan/common/remote/remote_resource.py
Due: ruff-fmt

Enable adding extra info to custom ResourceMonitorClient and display on the HTML report's resource view
  testplan/monitor/resource.py
  testplan/web_ui/testing/src/AssertionPane/ResourcePanel.js
Due: ruff-fmt

Add news frag
  doc/newsfragments/3563_new.resource_monitor_extra_info.rst
Due: none

Fix patterns filter for empty multitest
  doc/newsfragments/3561_changed.patterns_filter_will_run_empty_multitest.rst
  testplan/testing/filtering.py
  testplan/testing/multitest/base.py
  tests/functional/testplan/testing/test_filtering.py
  tests/unit/testplan/testing/multitest/test_multitest.py
Due: ruff-fmt
