Repository morganstanley/testplan: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-fmt, uv-export

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: ruff-fmt
    name: ruff format
    language: system
    entry: ruff format --check
    types: [python]
  - id: uv-export
    name: uv export
    language: system
    entry: uv export
    args: ["--no-editable", "--no-emit-project", "--no-hashes", "--all-groups", "--all-extras", "-o", "constraints.txt"]
    pass_filenames: false
    files: ^(pyproject\.toml|constraints\.txt)$

Snapshot worker dict in monitoring so adding more workers at runtime is safe
  testplan/runners/pools/base.py
Due: ruff-fmt

Snapshot worker dict in monitoring so adding more workers at runtime is safe (#1336)
  testplan/runners/pools/base.py
Due: ruff-fmt

Silence rsync pull failures for absent remote sources
  doc/newsfragments/3896_changed.remote_command_log_noise.rst
  testplan/common/remote/remote_resource.py
  testplan/common/remote/ssh_client.py
  testplan/common/utils/process.py
  tests/unit/testplan/common/remote/test_remote_resource.py
Due: ruff-fmt

Silence rsync pull failures for absent remote sources (#1337)
  doc/newsfragments/3896_changed.remote_command_log_noise.rst
  testplan/common/remote/remote_resource.py
  testplan/common/remote/ssh_client.py
  testplan/common/utils/process.py
  tests/unit/testplan/common/remote/test_remote_resource.py
Due: ruff-fmt

TESTPLAN-3928: Keep remote pool request handling responsive
  testplan/runners/pools/remote.py
  tests/unit/testplan/runners/pools/test_pool_remote.py
Due: ruff-fmt

Use cap for invalid auto-part calculation
  doc/newsfragments/3911_changed.fix_auto_part_negative_runtime.rst
  testplan/runnable/base.py
  tests/functional/testplan/runners/pools/test_auto_part.py
Due: ruff-fmt

Use cap for invalid auto-part calculation (#1339)
  doc/newsfragments/3911_changed.fix_auto_part_negative_runtime.rst
  testplan/runnable/base.py
  tests/functional/testplan/runners/pools/test_auto_part.py
Due: ruff-fmt

Strip URL fragment from local file paths in group_freezed
  testplan/common/remote/remote_runtime.py
Due: ruff-fmt

drop py39 support
  .github/workflows/test_pr.yml
  constraints.txt
  doc/en/getting_started.rst
  pyproject.toml
Due: uv-export

fix type hints
  constraints.txt
  testplan/common/exporters/pdf.py
  testplan/common/utils/context.py
Due: ruff-fmt, uv-export

fix one helper due to pytest behaviour change; fix pr job
  .github/workflows/test_pr.yml
  constraints.txt
  testplan/common/utils/helper.py
Due: ruff-fmt, uv-export

Chore/drop py39 support (#1332)
  .github/workflows/test_pr.yml
  constraints.txt
  doc/en/getting_started.rst
  pyproject.toml
  testplan/common/exporters/pdf.py
  testplan/common/utils/context.py
  testplan/common/utils/helper.py
Due: ruff-fmt, uv-export

fix dynamic xfail
  doc/newsfragments/3942_changed.xfail_per_suite_instance.rst
  testplan/testing/multitest/base.py
  tests/functional/testplan/testing/multitest/test_xfail.py
Due: ruff-fmt

Fix typos
  doc/en/multitest.rst
Due: none

Fix/dynamic xfail data not to leak between testsuite instances (#1342)
  doc/newsfragments/3942_changed.xfail_per_suite_instance.rst
  testplan/testing/multitest/base.py
  tests/functional/testplan/testing/multitest/test_xfail.py
Due: ruff-fmt

make resource monitor report host cpu usage scaled by core count; tweak executor working loop's sleep time
  constraints.txt
  doc/newsfragments/3894_changed.resource_monitor_cpu_scale.rst
  pyproject.toml
  testplan/common/entity/base.py
  testplan/monitor/resource.py
  testplan/web_ui/testing/src/AssertionPane/ResourcePanel.js
  tests/functional/testplan/test_resource_monitor.py
Due: ruff-fmt, uv-export

fix type hints
  testplan/common/utils/helper.py
  testplan/monitor/resource.py
  testplan/testing/multitest/driver/connection/base.py
Due: ruff-fmt

Add timeline assertion, replace use of plotly in driver-info
  testplan/runnable/interactive/base.py
  testplan/testing/base.py
  testplan/testing/multitest/entries/base.py
  testplan/testing/multitest/entries/schemas/base.py
  testplan/testing/result.py
  testplan/web_ui/testing/src/AssertionPane/Assertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/TimelineAssertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/__tests__/TimelineAssertion.test.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/__tests__/__snapshots__/TimelineAssertion.test.js.snap
  tests/functional/testplan/testing/fixtures/base/failing/report.py
  tests/functional/testplan/testing/fixtures/base/passing/report.py
  tests/functional/testplan/testing/multitest/test_driver_info.py
  tests/unit/testplan/testing/multitest/test_result.py
Due: ruff-fmt

fix: read xUnit reports as the documents declare, not via the host locale
  doc/newsfragments/1345_changed.xunit_importers_read_utf8.rst
  testplan/importers/cppunit.py
  testplan/importers/gtest.py
  testplan/importers/junit.py
  testplan/importers/testplan.py
  testplan/testing/cpp/gtest.py
  testplan/testing/cpp/hobbestest.py
  tests/unit/testplan/importers/test_report_encoding.py
Due: ruff-fmt

Add Python 3.14 to the test matrix. Covered by brianegge.rst
  .github/workflows/test_pr.yml
  dco/brianegge.rst
  doc/newsfragments/3950_new.python_314_support.rst
  doc/newsfragments/3951_changed.return_in_finally.rst
  pyproject.toml
  testplan/common/exporters/__init__.py
Due: ruff-fmt, uv-export

Fix macOS psutil failures, add macOS CI runner. Covered by brianegge.rst
  .github/workflows/test_pr.yml
  dco/brianegge.rst
  doc/newsfragments/3952_changed.macos_psutil_support.rst
  testplan/monitor/resource.py
  testplan/runnable/base.py
  tests/unit/testplan/runnable/test_base.py
Due: ruff-fmt

Snapshot pre-existing children in test_basic_loose. Covered by brianegge.rst
  doc/newsfragments/3953_changed.bad_app_child_snapshot.rst
  tests/functional/testplan/testing/multitest/test_bad_app.py
Due: ruff-fmt

Widen driver timing margins for slow runners. Covered by brianegge.rst
  doc/newsfragments/3954_changed.driver_timing_margin.rst
  tests/unit/testplan/testing/multitest/driver/test_driver.py
Due: ruff-fmt

Update graph assertion
  doc/en/assertions.rst
  doc/en/download/Assertions.rst
  doc/newsfragments/3962_new.timeline_assertion.rst
  doc/newsfragments/3962_removed.graph_chartjs_migration.rst
  examples/Assertions/Graph/test_plan.py
  examples/Assertions/Timeline/test_plan.py
  testplan/testing/multitest/entries/base.py
  testplan/testing/result.py
  testplan/web_ui/testing/package.json
  testplan/web_ui/testing/pnpm-lock.yaml
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/GraphAssertions/DiscreteChartAssertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/GraphAssertions/XYGraphAssertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/GraphAssertions/__tests__/DiscreteChartAssertion.test.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/GraphAssertions/__tests__/XYGraphAssertion.test.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/GraphAssertions/__tests__/__snapshots__/DiscreteChartAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/GraphAssertions/__tests__/__snapshots__/XYGraphAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/GraphAssertions/graphUtils.js
  tests/functional/testplan/graph/test_graph.py
  tests/unit/testplan/testing/multitest/test_result.py
Due: ruff-fmt

Shift timeline under graph assertion
  doc/en/assertions.rst
  doc/en/download/Assertions.rst
  doc/newsfragments/3962_new.timeline_assertion.rst
  doc/newsfragments/3962_removed.graph_chartjs_migration.rst
  examples/Assertions/Graph/test_plan.py
  examples/Assertions/Timeline/test_plan.py
  testplan/exporters/testing/pdf/renderers/entries/base.py
  testplan/exporters/testing/pdf/renderers/entries/baseUtils.py
  testplan/testing/base.py
  testplan/testing/multitest/entries/base.py
  testplan/testing/multitest/entries/schemas/base.py
  testplan/testing/result.py
  testplan/web_ui/testing/src/AssertionPane/Assertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/GraphAssertions/TimelineChartAssertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/GraphAssertions/__tests__/TimelineChartAssertion.test.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/GraphAssertions/__tests__/__snapshots__/TimelineChartAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/__tests__/TimelineAssertion.test.js
  tests/functional/testplan/graph/test_graph.py
  tests/functional/testplan/testing/fixtures/base/failing/report.py
  tests/functional/testplan/testing/fixtures/base/passing/report.py
  tests/unit/testplan/testing/multitest/test_result.py
Due: ruff-fmt

Address comments
  doc/en/assertions.rst
  doc/newsfragments/3962_new.timeline_assertion.rst
  testplan/exporters/testing/pdf/renderers/entries/baseUtils.py
  testplan/testing/multitest/entries/base.py
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/GraphAssertions/XYGraphAssertion.js
Due: ruff-fmt

try using ubuntu-latest in pr pipeline
  .github/workflows/test_pr.yml
Due: none

fix zk & kafka failure
  .github/workflows/test_pr.yml
  tests/unit/testplan/testing/multitest/driver/mykafka/test_kafka.py
Due: ruff-fmt

fix doc
  doc/en/multitest.rst
Due: none

Add pdf renderer, fix test and timezone
  testplan/exporters/testing/pdf/renderers/entries/base.py
  testplan/exporters/testing/pdf/renderers/entries/baseUtils.py
  testplan/testing/multitest/entries/base.py
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/GraphAssertions/__tests__/XYGraphAssertion.test.js
  tests/unit/testplan/testing/multitest/test_result.py
Due: ruff-fmt

Chore/update ubuntu ver in pr pipeline (#1343)
  .github/workflows/test_pr.yml
  doc/en/multitest.rst
  tests/unit/testplan/testing/multitest/driver/mykafka/test_kafka.py
Due: ruff-fmt

Add new timeline assertion, use chartjs for graph assertion (#1347)
  doc/en/assertions.rst
  doc/en/download/Assertions.rst
  doc/newsfragments/3962_new.timeline_assertion.rst
  doc/newsfragments/3962_removed.graph_chartjs_migration.rst
  examples/Assertions/Graph/test_plan.py
  testplan/exporters/testing/pdf/renderers/entries/base.py
  testplan/exporters/testing/pdf/renderers/entries/baseUtils.py
  testplan/runnable/interactive/base.py
  testplan/testing/base.py
  testplan/testing/multitest/entries/base.py
  testplan/testing/result.py
  testplan/web_ui/testing/package.json
  testplan/web_ui/testing/pnpm-lock.yaml
  testplan/web_ui/testing/src/AssertionPane/Assertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/GraphAssertions/DiscreteChartAssertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/GraphAssertions/TimelineChartAssertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/GraphAssertions/XYGraphAssertion.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/GraphAssertions/__tests__/DiscreteChartAssertion.test.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/GraphAssertions/__tests__/TimelineChartAssertion.test.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/GraphAssertions/__tests__/XYGraphAssertion.test.js
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/GraphAssertions/__tests__/__snapshots__/DiscreteChartAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/GraphAssertions/__tests__/__snapshots__/TimelineChartAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/GraphAssertions/graphUtils.js
  tests/functional/testplan/graph/test_graph.py
  tests/functional/testplan/testing/fixtures/base/failing/report.py
  tests/functional/testplan/testing/fixtures/base/passing/report.py
  tests/functional/testplan/testing/multitest/test_driver_info.py
  tests/unit/testplan/testing/multitest/test_result.py
Due: ruff-fmt

fix driver-info used w remote driver
  constraints.txt
  doc/newsfragments/3961_changed.fix_driver_info_remote_driver.rst
  examples/RemoteDriver/Basic/test_plan.py
  testplan/testing/base.py
Due: ruff-fmt, uv-export

Fix/driver-info used w remote driver (#1350)
  constraints.txt
  doc/newsfragments/3961_changed.fix_driver_info_remote_driver.rst
  examples/RemoteDriver/Basic/test_plan.py
  testplan/testing/base.py
Due: ruff-fmt, uv-export

add test
  tests/unit/testplan/common/utils/sockets/test_server.py
Due: ruff-fmt

fix tcp server's close_connection
  testplan/common/utils/sockets/server.py
Due: ruff-fmt

Fix/tcp server's close_connection (#1351)
  testplan/common/utils/sockets/server.py
  tests/unit/testplan/common/utils/sockets/test_server.py
Due: ruff-fmt

fix some bugs + formatting
  testplan/common/serialization/fields.py
  testplan/report/testing/schemas.py
Due: ruff-fmt

Shift sanitization to assertion not in schema dump
  testplan/common/serialization/fields.py
  testplan/report/testing/schemas.py
  testplan/testing/multitest/entries/schemas/assertions.py
  testplan/testing/multitest/entries/schemas/base.py
Due: ruff-fmt
