Repository morganstanley/testplan: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-fmt, uv-export

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: ruff-fmt
    name: ruff format
    language: system
    entry: ruff format --check
    types: [python]
  - id: uv-export
    name: uv export
    language: system
    entry: uv export
    args: ["--no-editable", "--no-emit-project", "--no-hashes", "--all-groups", "--all-extras", "-o", "constraints.txt"]
    pass_filenames: false
    files: ^(pyproject\.toml|constraints\.txt)$

ruff format
  testplan/parser.py
  testplan/runnable/base.py
  tests/functional/testplan/testing/multitest/test_default_testcase_timeout.py
Due: ruff-fmt

fix a report filter bug; fix bad names inside pool & task
  doc/newsfragments/3393_changed.report_filter_corner_case.rst
  testplan/common/report/base.py
  testplan/runners/pools/base.py
  testplan/runners/pools/tasks/base.py
  tests/functional/testplan/report/testing/test_filter.py
  tests/functional/testplan/runners/pools/test_pool_base.py
  tests/functional/testplan/runners/pools/test_pool_process.py
  tests/functional/testplan/runners/pools/test_task_rerun.py
Due: ruff-fmt

Print search-friendly log anchors with debug log level (#1239)
  testplan/common/utils/logger.py
  tests/functional/testplan/cli/data/sample_plan_expected_stdout_0.data
  tests/functional/testplan/cli/data/sample_plan_expected_stdout_1.data
  tests/functional/testplan/cli/test_stdout.py
Due: ruff-fmt

Fix/report filter bug when encountering empty (error) groupreport (#1243)
  doc/newsfragments/3393_changed.report_filter_corner_case.rst
  testplan/common/report/base.py
  testplan/runners/pools/base.py
  testplan/runners/pools/tasks/base.py
  tests/functional/testplan/report/testing/test_filter.py
  tests/functional/testplan/runners/pools/test_pool_base.py
  tests/functional/testplan/runners/pools/test_pool_process.py
  tests/functional/testplan/runners/pools/test_task_rerun.py
Due: ruff-fmt

Make random defaults deterministic in docs (#1242)
  testplan/base.py
  testplan/common/exporters/__init__.py
Due: ruff-fmt

Upgrade js libraries and fix toolbar after bootstrap major version upgrade
  testplan/web_ui/testing/package.json
  testplan/web_ui/testing/pnpm-lock.yaml
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/__snapshots__/DictLogAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/__snapshots__/DictMatchAllAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/__snapshots__/DictMatchAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/__snapshots__/FixLogAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/__snapshots__/FixMatchAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/TableAssertions/__tests__/__snapshots__/TableLogAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/__tests__/__snapshots__/BasicAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/__tests__/__snapshots__/LogfileMatchAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/__tests__/__snapshots__/NotImplementedAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/__tests__/__snapshots__/Assertion.test.js.snap
  testplan/web_ui/testing/src/Nav/__tests__/__snapshots__/InteractiveNavEntry.test.js.snap
  testplan/web_ui/testing/src/Nav/__tests__/__snapshots__/InteractiveNavList.test.js.snap
  testplan/web_ui/testing/src/Nav/__tests__/__snapshots__/NavBreadcrumbs.test.js.snap
  testplan/web_ui/testing/src/Nav/__tests__/__snapshots__/NavEntry.test.js.snap
  testplan/web_ui/testing/src/Nav/__tests__/__snapshots__/NavList.test.js.snap
  testplan/web_ui/testing/src/Report/__tests__/__snapshots__/BatchReport.test.js.snap
  testplan/web_ui/testing/src/Toolbar/Toolbar.js
  testplan/web_ui/testing/src/Toolbar/__tests__/__snapshots__/FilterBox.test.js.snap
  testplan/web_ui/testing/src/Toolbar/__tests__/__snapshots__/InteractiveButtons.test.js.snap
  testplan/web_ui/testing/src/Toolbar/__tests__/__snapshots__/Toolbar.test.js.snap
Due: none

update snapshots
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/__snapshots__/DictLogAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/__snapshots__/DictMatchAllAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/__snapshots__/DictMatchAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/__snapshots__/FixLogAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/__snapshots__/FixMatchAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/TableAssertions/__tests__/__snapshots__/TableLogAssertion.test.js.snap
Due: none

JS library upgrade (#1244)
  testplan/web_ui/testing/package.json
  testplan/web_ui/testing/pnpm-lock.yaml
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/__snapshots__/DictLogAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/__snapshots__/DictMatchAllAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/__snapshots__/DictMatchAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/__snapshots__/FixLogAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/DictAssertions/__tests__/__snapshots__/FixMatchAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/TableAssertions/__tests__/__snapshots__/TableLogAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/__tests__/__snapshots__/BasicAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/__tests__/__snapshots__/LogfileMatchAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/AssertionTypes/__tests__/__snapshots__/NotImplementedAssertion.test.js.snap
  testplan/web_ui/testing/src/AssertionPane/__tests__/__snapshots__/Assertion.test.js.snap
  testplan/web_ui/testing/src/Nav/__tests__/__snapshots__/InteractiveNavEntry.test.js.snap
  testplan/web_ui/testing/src/Nav/__tests__/__snapshots__/InteractiveNavList.test.js.snap
  testplan/web_ui/testing/src/Nav/__tests__/__snapshots__/NavBreadcrumbs.test.js.snap
  testplan/web_ui/testing/src/Nav/__tests__/__snapshots__/NavEntry.test.js.snap
  testplan/web_ui/testing/src/Nav/__tests__/__snapshots__/NavList.test.js.snap
  testplan/web_ui/testing/src/Report/__tests__/__snapshots__/BatchReport.test.js.snap
  testplan/web_ui/testing/src/Toolbar/Toolbar.js
  testplan/web_ui/testing/src/Toolbar/__tests__/__snapshots__/FilterBox.test.js.snap
  testplan/web_ui/testing/src/Toolbar/__tests__/__snapshots__/InteractiveButtons.test.js.snap
  testplan/web_ui/testing/src/Toolbar/__tests__/__snapshots__/Toolbar.test.js.snap
Due: none

multiple changes
  doc/en/api/testplan.common.remote.rst
  doc/en/bdd.rst
  doc/en/download/index.rst
  doc/en/multitest.rst
  doc/en/pools.rst
  doc/en/remote.rst
  doc/newsfragments/2325_new.general_remote.rst
  examples/ExecutionPools/Remote/test_plan.py
  testplan/common/remote/remote_resource.py
  testplan/common/remote/remote_runtime.py
  testplan/common/remote/remote_service.py
  testplan/common/utils/match.py
  testplan/common/utils/remote.py
  testplan/runners/pools/child.py
  testplan/runners/pools/process.py
  testplan/runners/pools/remote.py
Due: ruff-fmt

bump vers in constraints.txt; fix transfer issue
  constraints.txt
  testplan/common/remote/remote_driver.py
  testplan/common/remote/remote_resource.py
  testplan/common/remote/remote_runtime.py
Due: ruff-fmt, uv-export

treak examples; enhance one unit test
  examples/ExecutionPools/Remote/test_plan.py
  examples/RemoteDriver/Basic/test_plan.py
  tests/unit/testplan/common/remote/test_remote_resource.py
Due: ruff-fmt

Prevent parallel remote testplan executions on same runpath.
  doc/newsfragments/3283_changed.prevent_parallel_run.rst
  testplan/common/remote/remote_resource.py
  testplan/runnable/base.py
Due: ruff-fmt

Feature/general remote worker (#1214)
  constraints.txt
  doc/en/api/testplan.common.remote.rst
  doc/en/bdd.rst
  doc/en/download/Execution Pools.rst
  doc/en/download/index.rst
  doc/en/multitest.rst
  doc/en/pools.rst
  doc/en/remote.rst
  doc/newsfragments/2325_new.general_remote.rst
  examples/ExecutionPools/Remote/setup_script.sh
  examples/ExecutionPools/Remote/test_plan.py
  examples/RemoteDriver/Basic/test_plan.py
  pyproject.toml
  testplan/common/remote/remote_driver.py
  testplan/common/remote/remote_resource.py
  testplan/common/remote/remote_runtime.py
  testplan/common/remote/remote_service.py
  testplan/common/remote/ssh_client.py
  testplan/common/utils/match.py
  testplan/common/utils/process.py
  testplan/common/utils/remote.py
  testplan/runners/pools/base.py
  testplan/runners/pools/child.py
  testplan/runners/pools/process.py
  testplan/runners/pools/remote.py
  tests/functional/testplan/runners/pools/test_pool_remote.py
  tests/unit/testplan/common/remote/test_remote_resource.py
Due: ruff-fmt, uv-export

update uv option
  testplan/common/remote/remote_runtime.py
Due: ruff-fmt

Fix/update uv option inside remote runtime builder (#1248)
  testplan/common/remote/remote_runtime.py
Due: ruff-fmt

revert remote changes, add pid check for testrunner
  doc/newsfragments/3283_changed.prevent_parallel_run.rst
  testplan/common/entity/base.py
  testplan/common/remote/remote_resource.py
  testplan/runnable/base.py
Due: ruff-fmt

revert remote changes, add pid check for testrunner
  testplan/common/remote/remote_resource.py
Due: ruff-fmt

revert remote changes, add pid check for testrunner
  testplan/runnable/base.py
Due: ruff-fmt

several fixes
  examples/RemoteDriver/Basic/test_plan.py
  testplan/common/remote/remote_resource.py
  testplan/common/remote/remote_runtime.py
  testplan/common/remote/remote_service.py
  testplan/common/remote/ssh_client.py
  testplan/common/utils/process.py
  testplan/runners/pools/process.py
  testplan/runners/pools/remote.py
Due: ruff-fmt

Add unit tests
  testplan/runnable/base.py
  tests/unit/testplan/runnable/test_base.py
Due: ruff-fmt

Split report assertions attachment.
  testplan/exporters/testing/json/__init__.py
  testplan/exporters/testing/json/base.py
  testplan/web_ui/testing/src/AssertionPane/AssertionGroup.js
  testplan/web_ui/testing/src/Common/utils.js
  testplan/web_ui/testing/src/Nav/NavList.js
  testplan/web_ui/testing/src/Nav/__tests__/__snapshots__/NavList.test.js.snap
  testplan/web_ui/testing/src/Nav/navUtils.js
  testplan/web_ui/testing/src/Report/BatchReport.js
  testplan/web_ui/testing/src/Report/InteractiveReport.js
  testplan/web_ui/testing/src/Report/__tests__/BatchReport.test.js
  testplan/web_ui/testing/src/Report/__tests__/__snapshots__/BatchReport.test.js.snap
  testplan/web_ui/testing/src/Report/__tests__/__snapshots__/InteractiveReport.test.js.snap
  testplan/web_ui/testing/src/Report/reportUtils.js
  tests/functional/testplan/exporters/testing/test_json.py
Due: ruff-fmt

update newsfrag w minor fixes
  doc/newsfragments/2325_new.general_remote.rst
  examples/ExecutionPools/Remote/test_plan.py
  testplan/common/remote/remote_resource.py
  tests/unit/testplan/common/remote/test_remote_resource.py
Due: ruff-fmt

Use custom exception for runpath conflict
  testplan/common/entity/base.py
  testplan/common/utils/exceptions.py
  testplan/runnable/base.py
  tests/unit/testplan/runnable/test_base.py
Due: ruff-fmt

Prevent parallel testplan executions on same runpath. (#1246)
  doc/newsfragments/3283_changed.prevent_parallel_run.rst
  testplan/common/entity/base.py
  testplan/common/utils/exceptions.py
  testplan/runnable/base.py
  tests/unit/testplan/runnable/test_base.py
Due: ruff-fmt

Fix/several general-remote related fixes (#1249)
  doc/newsfragments/2325_new.general_remote.rst
  examples/ExecutionPools/Remote/test_plan.py
  examples/RemoteDriver/Basic/test_plan.py
  testplan/common/remote/remote_resource.py
  testplan/common/remote/remote_runtime.py
  testplan/common/remote/remote_service.py
  testplan/common/remote/ssh_client.py
  testplan/common/utils/process.py
  testplan/runners/pools/process.py
  testplan/runners/pools/remote.py
  tests/unit/testplan/common/remote/test_remote_resource.py
Due: ruff-fmt

Revert "Split report assertions attachment."
  testplan/exporters/testing/json/__init__.py
  testplan/exporters/testing/json/base.py
  testplan/web_ui/testing/src/AssertionPane/AssertionGroup.js
  testplan/web_ui/testing/src/Common/utils.js
  testplan/web_ui/testing/src/Nav/NavList.js
  testplan/web_ui/testing/src/Nav/__tests__/__snapshots__/NavList.test.js.snap
  testplan/web_ui/testing/src/Nav/navUtils.js
  testplan/web_ui/testing/src/Report/BatchReport.js
  testplan/web_ui/testing/src/Report/InteractiveReport.js
  testplan/web_ui/testing/src/Report/__tests__/BatchReport.test.js
  testplan/web_ui/testing/src/Report/__tests__/__snapshots__/BatchReport.test.js.snap
  testplan/web_ui/testing/src/Report/__tests__/__snapshots__/InteractiveReport.test.js.snap
  testplan/web_ui/testing/src/Report/reportUtils.js
  tests/functional/testplan/exporters/testing/test_json.py
Due: ruff-fmt

fix resources concurrent start & stop
  testplan/common/entity/base.py
Due: ruff-fmt

update impl; add tests
  testplan/common/entity/base.py
  testplan/common/remote/remote_resource.py
  testplan/runners/pools/remote.py
  tests/unit/testplan/common/entity/test_environment.py
Due: ruff-fmt

Fix AttributeError when multitest has no parent
  testplan/testing/multitest/base.py
Due: ruff-fmt

Add news fragment for testcase-timeout feature
  doc/newsfragments/1241_new.testcase_timeout.rst
Due: none

update test
  tests/unit/testplan/common/entity/test_environment.py
Due: ruff-fmt

Fix/resources concurrent start & stop to make right (#1251)
  testplan/common/entity/base.py
  testplan/common/remote/remote_resource.py
  testplan/runners/pools/remote.py
  tests/unit/testplan/common/entity/test_environment.py
Due: ruff-fmt

Add testcase timeout cli option (#1252)
  doc/en/multitest.rst
  doc/newsfragments/1241_new.testcase_timeout.rst
  testplan/defaults.py
  testplan/parser.py
  testplan/runnable/base.py
  testplan/testing/multitest/base.py
  tests/functional/testplan/testing/multitest/test_default_testcase_timeout.py
Due: ruff-fmt

fix newsfrag file name
  doc/newsfragments/3472_new.testcase_timeout.rst
Due: none

fix newsfrag file name (#1253)
  doc/newsfragments/3472_new.testcase_timeout.rst
Due: none

make pool discard running tasks simultaneously
  testplan/runners/pools/base.py
  testplan/runners/pools/child.py
  testplan/runners/pools/process.py
  tests/functional/testplan/testing/multitest/test_skip_remaining.py
  tests/unit/testplan/common/utils/test_helper.py
Due: ruff-fmt

fix flaky test
  tests/unit/testplan/test_plan_base.py
Due: ruff-fmt

enable skip_strategy via decorator; update test
  testplan/base.py
  testplan/parser.py
  tests/functional/testplan/testing/multitest/test_skip_remaining.py
Due: ruff-fmt

fix flaky test (#1255)
  tests/unit/testplan/test_plan_base.py
Due: ruff-fmt
